@{
    ViewBag.Title = "Find Username";
    Layout = "~/Views/Shared/_LogOn.cshtml";
}

<div>
    <p>
    There is no account associated with that student ID at the specified university. Please try again.
    </p>
</div>
