*
{
    font-family: arial, sans-serif;
}

body
{
    background-color: #fff;
}

a
{
    color: #074974;
}

h1, h2, h3, h4, h5, h6 
{
    color: #074974;
}

a:hover
{
    color: #ff0000;
}

a
{
}

a img
{
    border: none;
}

/* Common layout elements */
#header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    height: 90px;
    background-color: #dfdfdf;
    border-bottom: 1px solid #074974;
}

#top_bar
{
    background-color: #074974;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    height: 30px;
}

#top_content
{
    position: absolute;
    right: 0px;
    padding-right: 15px;
    color: #fff;
    font-size: 12pt;
}

#top_content .top_item
{
    float: left;
}

.top_item 
{
 text-decoration: none;   
 color: #eee;
}

.top_item:hover
{
    color: #eee;
}

#top_content span
{
    padding-top: 7px;
    padding-right: 15px;
}

#top_content a
{
    display: block;
    padding-top: 7px;
    height: 23px;
    margin-left: 5px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: transparent;
}

#top_content a:hover
{
    background-color: #2288aa;
}

#logo
{
    position: absolute;
    top: 10px;
    left: 10px;
}

#logo_text
{
    position: absolute;
    top: 34px;
    left: 100px;
}

#courses
{
    position: absolute;
    top: 35px;
    right: 0px;
    padding-right: 15px;
    color: #074974;
}

#courses form 
{
    display: inline;
}

#course_select
{
    width: auto;
    min-width: 250px;
    position: relative;
}

#course_create_button img
{
    position: relative;
    top: 3px;
}

#tabs
{
    position: absolute;
    top: 70px;
    left: 10px;
}

#tabs a
{
    display: block;
    float: left;
    font-size: 12pt;
    color: #074974;
    background-color: #f5f5f5;
    height: 18px;
    border: 1px solid #074974;
    border-bottom: 1px solid #074974;
    text-decoration: none;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 0px;
    margin-right: 2px;
}

#tabs a.tab_current
{
    color: #074974;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

#tabs a:hover
{
    border-bottom: 1px solid #074974;
    background-color: #074974;
    color: #fff;
}

#content
{
    position: absolute;
    top: 100px;
    left: 0;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

/* Users Page */

ul.user_list
{
    padding-left: 0;
    margin-left: 0;
}
.user_list li
{
    list-style: none;
    width: 230px;
    border-bottom: 1px solid #aaccff;
    min-height: 43px;
    padding-top: 4px;
    margin-bottom: 7px;
    font-size: 10pt;
}

.user_list li img
{
    vertical-align: middle;
}

.user_list li:hover
{
    background-color: #aaccff;
    border-bottom: 1px solid #074974;
}

.user_list li:hover div.user_controls
{
    display: block;
}

.user_list li div.user_controls
{
    display: none;
    float: right;
}

#users_table td
{
    width: 250px;
    vertical-align: top;
}

.user_controls img:hover
{
    cursor: pointer;
}

.add img:hover
{
    cursor: pointer;
}

/* MISC
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color: Red;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label, .display-field, .editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/* LogOn/Register Screens */

body#layoutLogOn
{
    background-color: #074974;
    color: #eee;
    background-image: url('./images/logon_bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
}

#layoutLogOn h1, #layoutLogOn h2, #layoutLogOn h3, #layoutLogOn h4, #layoutLogOn h5, #layoutLogOn h6
{
    color: #eee;
}

#layoutLogOn a
{
    color: #eee;
}

#layoutLogOn a:hover
{
    color: #ff3333;
}

#contentLogOn li
{
    list-style-type: none;
}

#contentLogOn
{
    position: absolute;
    text-align: center;
    top: 50px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
}

#contentLogOn .input-validation-error
{
    border: 1px solid #ff3333;
    background-color: #fff;
}

#contentLogOn .validation-summary-errors
{
    font-weight: bold;
    color: #ff5555;
}

#contentLogOn table
{
    margin: auto;
}

#contentLogOn table td
{
    padding: 5px;
}

/* Dashboard */

#dashboard_left, #dashboard_middle, #dashboard_right 
{
    display: block;
    margin: 0;
    padding: 0;
}

#dashboard_left h4, #dashboard_middle h4, #dashboard_right h4 
{
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

#dashboard_left 
{
    width: 24%;
    float: left;
    padding-right: 1%;
}

#dashboard_middle
{
    width: 54%;
    float: left;
}

#dashboard_right
{
    padding-left: 1%;
    width: 20%;
    float: right;
}

.roster_table tr td
{
    padding-right: 10px;
    vertical-align: top;
}

#activity_new_post 
{
    width: 100%;
    text-align: left;
    padding-right: 20%;
    padding-left: 0%;
}

#activity_new_post textarea 
{
    width: 80%;
    height: 80px;
    margin-bottom: 0.5em;
}


/* Dashboard Posts */

.dp_course 
{
    font-size: 10pt;
    font-variant: small-caps;
    border-right: 1px #aaa solid;
    padding: 1px;
    padding-right: 3px;
}

.dp_posted
{
    font-size: 10pt;
}

.dp_post 
{
    width: 95%;
    display: block;
    margin-top: 0.2em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid #eeeeff;
    border-bottom: 5px solid #eeeeff;
}

.dp_post_header
{
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
    display: block;
    color: #074974
}

.dp_content
{
    padding: 3px;
    width: 100%;
    margin-left: 20px;
}

.dp_replies
{
    display: block;
    margin-left: 20px;
    padding: 3px;
    clear: both;
}

.dp_replylink 
{    
    font-size: 10pt;
}

.dp_replybox
{
    display: none;
}


.dp_replybox textarea 
{
    width: 100%;
    height: 50px;
}

.dp_post_header:hover .dp_delete
{
    display: inline;
}

.dp_post_header .dp_delete
{
    display: none;
    float: right;
}

.dashboard_mode 
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
/* End Dashboard Posts */

.profile_picture, .small_profile_picture
{
    border: 1px solid #074974;
    float: left;
    margin: 3px;
    margin-right: 8px;
    width: 50px;
    height: 50px;
}

.small_profile_picture
{
    width: 32px;
    height: 32px;
}

#picture_upload input 
{
    margin-right: 0.25em;
}