*
{
    font-family: arial, sans-serif;
}

body
{
    background-color: #fff;
}

a
{
    color: #094749;
}

h1, h2, h3, h4, h5, h6 
{
    color: #094749;
}

a:hover
{
    color: #ff0000;
}

a
{
}

a img
{
    border: none;
}

/* Common layout elements */
#header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    height: 90px;
    background-color: #dfdfdf;
    border-bottom: 1px solid #074974;
}

#top_bar
{
    background-color: #074974;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    height: 30px;
}

#top_content
{
    position: absolute;
    right: 0px;
    padding-right: 15px;
    color: #fff;
    font-size: 12pt;
}

#top_content .top_item
{
    float: left;
}

#top_content span
{
    padding-top: 7px;
    padding-right: 15px;
}

#top_content a
{
    display: block;
    padding-top: 7px;
    height: 23px;
    margin-left: 5px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: transparent;
}

#top_content a:hover
{
    background-color: #2288aa;
}

#logo
{
    position: absolute;
    top: 10px;
    left: 10px;
}

#logo_text
{
    position: absolute;
    top: 34px;
    left: 100px;
}

#courses
{
    position: absolute;
    top: 35px;
    right: 0px;
    padding-right: 15px;
    color: #074974;
}

#courses form 
{
    display: inline;
}

#course_select
{
    width: auto;
    min-width: 250px;
    position: relative;
}

#course_create_button img
{
    position: relative;
    top: 3px;
}

#tabs
{
    position: absolute;
    top: 70px;
    left: 10px;
}

#tabs a
{
    display: block;
    float: left;
    font-size: 12pt;
    color: #074974;
    background-color: #f5f5f5;
    height: 18px;
    border: 1px solid #074974;
    border-bottom: 1px solid #074974;
    text-decoration: none;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 0px;
    margin-right: 2px;
}

#tabs a.tab_current
{
    color: #074974;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

#tabs a:hover
{
    border-bottom: 1px solid #074974;
    background-color: #074974;
    color: #fff;
}

#content
{
    position: absolute;
    top: 100px;
    left: 0;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

/* Users Page */

ul.user_list
{
    padding-left: 0;
    margin-left: 0;
}
.user_list li
{
    list-style: none;
    width: 230px;
    border-bottom: 1px solid #aaccff;
    min-height: 20px;
    padding-top: 4px;
    margin-bottom: 7px;
    font-size: 10pt;
}

.user_list li img
{
    vertical-align: middle;
}

.user_list li:hover
{
    background-color: #aaccff;
    border-bottom: 1px solid #074974;
}

.user_list li:hover div.user_controls
{
    display: block;
}

.user_list li div.user_controls
{
    display: none;
    float: right;
}

#users_table td
{
    width: 250px;
    vertical-align: top;
}

.user_controls img:hover
{
    cursor: pointer;
}

.add img:hover
{
    cursor: pointer;
}

/* MISC
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color: Red;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label, .display-field, .editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/* LogOn/Register Screens */

body#layoutLogOn
{
    background-color: #074974;
    color: #eee;
    background-image: url('./images/logon_bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
}

#layoutLogOn a
{
    color: #eee;
}

#layoutLogOn a:hover
{
    color: #ff3333;
}

#contentLogOn li
{
    list-style-type: none;
}

#contentLogOn
{
    position: absolute;
    text-align: center;
    top: 50px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
}

#contentLogOn .input-validation-error
{
    border: 1px solid #ff3333;
    background-color: #fff;
}

#contentLogOn .validation-summary-errors
{
    font-weight: bold;
    color: #ff5555;
}

#contentLogOn table
{
    margin: auto;
}

#contentLogOn table td
{
    padding: 5px;
}

/* Dashboard */

#dashboard_left, #dashboard_middle, #dashboard_right 
{
    display: block;
    margin: 0;
    padding: 0;
}

#dashboard_left h4, #dashboard_middle h4, #dashboard_right h4 
{
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

#dashboard_left 
{
    width: 24%;
    float: left;
    padding-right: 1%;
}

#dashboard_middle
{
    width: 54%;
    float: left;
}

#dashboard_right
{
    padding-left: 1%;
    width: 20%;
    float: right;
}