@{
    ViewBag.Title = "Contact Us Success";
    Layout = "~/Views/Shared/_LogOn.cshtml";
}

<div>
    <p>
    Your support request has been received, @ViewBag.CUName.
    </p>
    <p>
    You will be contacted shortly!
    </p>
</div>

