<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=localhost\SQLEXPRESS;Database=aspnetdb;Trusted_Connection=yes;" providerName="System.Data.SqlClient" />
    <add name="OSBLEData" connectionString="data source=localhost\SQLEXPRESS;Database=osble;Trusted_Connection=yes;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--turned on for web app, off for unit testing-->
    <add key="RequireLoginValidation" value="false" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_AuthenticationService" />
        <binding name="BasicHttpBinding_OsbleService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:17532/Services/AuthenticationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AuthenticationService" contract="AuthenticationService.AuthenticationService" name="BasicHttpBinding_AuthenticationService" />
      <endpoint address="http://localhost:17532/Services/OsbleService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_OsbleService" contract="OsbleService.OsbleService" name="BasicHttpBinding_OsbleService" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>