<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ApplicationServices" connectionString="data source=localhost\SQLEXPRESS;Database=aspnetdb;Trusted_Connection=yes;" providerName="System.Data.SqlClient" />
        <add name="OSBLEData" connectionString="data source=localhost\SQLEXPRESS;Database=osble;Trusted_Connection=yes;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <!--turned on for web app, off for unit testing-->
        <add key="RequireLoginValidation" value="false"/>
    </appSettings>
</configuration>