@using OSBLE.Resources
@using OSBLE.Models.Assignments
@using OSBLE.Models.Courses
@model DynamicDictionary
@{
    dynamic dataModel = Model;
    CourseUser cu = dataModel.CRdownload.student;
}

<tr>
<th>Download Your <br />Reviewed Assignment</th>
<td>
Your instructor has not yet published your reviewed deliverable
    @(Html.ActionLink(cu.DisplayNameFirstLast(cu.AbstractRole).ToString(), "GetReviewsOfAuthor", "FileHandler",
            new { area = "", assignmentId = dataModel.CRdownload.assignmentID, receiverId = cu.ID }, 
            new { onclick = "create_and_open_downloading_submission_dialog()"}))
</td>
</tr>
