@using OSBLE.Resources
@using OSBLE.Models.Assignments
@model DynamicDictionary
@{
    dynamic dataModel = Model;
}

<tr>
<th>Download Your <br />Reviewed Assignment</th>
<td>Your instructor has not yet published your reviewed deliverable</td>
</tr>
