@using OSBLE.Resources
@using OSBLE.Models.Assignments
@model DynamicDictionary
@{
    dynamic dataModel = Model;

    string publishedString = dataModel.GradingProgress.publishedString;
    bool showDraftString = dataModel.GradingProgress.showDraftString;
    string draftString = dataModel.GradingProgress.draftString;
    int AssignmentID = dataModel.GradingProgress.AssignmentID;
}

<tr>
<th>Grading Progress:</th>
<td>
    @publishedString
    <br/>
    @if (showDraftString)
    {
        @:@draftString&nbsp @Html.ActionLink("Publish All","PublishAllRubrics","Assignment",new { area = "", assignmentId = AssignmentID }, new { })
    }
</td>
</tr>
