@using OSBLE.Resources
@using OSBLE.Models.Assignments
@model DynamicDictionary
@{
    dynamic dataModel = Model;
    List<DiscussionTeam> discussionTeams = dataModel.StudentDiscussion.DiscussionTeams;   
    Assignment assignment = dataModel.StudentDiscussion.assignment;         
}
<tr>
    <th>
        Discussion
    </th>
    <td>

            <table id="CriticalReviews">
                @foreach (DiscussionTeam dt in discussionTeams)
                {
                    <tr>
                        <td>
                         @Html.ActionLink("View Discussion for " + dt.Team.Name, 
                         "Index", "DiscussionAssignment",
                         new { assignmentId = assignment.ID, discussionTeamId = dt.TeamID, area = "" }, 
                         new { })
                        </td>
                        @if (assignment.Type == AssignmentTypes.CriticalReviewDiscussion)
                        {
                            <td>
                                @(Html.ActionLink("Download prompt", "GetReviewsOfAuthor", "FileHandler",
                                new { area = "", assignmentId = assignment.ID, receiverId =  3}, 
                                new { onclick = "create_and_open_downloading_submission_dialog()"}))
                            </td>
                        }
                    </tr>
                }
            </table>

    </td>
</tr>
