@using OSBLE.Resources
@using OSBLE.Models.Assignments
@model DynamicDictionary
@{
    dynamic dataModel = Model;               
}
<tr>
    <th>
        Grade:
    </th>
    <td>
        @if (dataModel.AssignmentDetails.hasRubric && dataModel.AssignmentDetails.hasGrade)
        {
            String grade = dataModel.AssignmentDetails.grade;
            @Html.ActionLink(grade, 
            "View", 
            "Rubric",
            new { assignmentId = dataModel.AssignmentDetails.AssignmentID, 
                cuId = dataModel.AssignmentDetails.cuID, 
                area = "" },
            new { })
        }
        else
        {
            @dataModel.AssignmentDetails.grade
        }
    </td>
</tr>
