@using OSBLE.Resources
@using OSBLE.Models.Assignments
@model DynamicDictionary
@{
    dynamic dataModel = Model;
}
<tr>
    <th>Discussion:</th>
    <td>
        @Html.ActionLink("View Discussion", "TeacherIndex", "DiscussionAssignment", new { assignmentId = dataModel.ID, courseUserId = 0, postOrReply = 3, discussionTeamID = dataModel.DiscussionTeamID, area = "" }, new { })
    </td>
</tr>
