@using OSBLE.Resources
@using OSBLE.Models.Assignments
@model DynamicDictionary
@{
    dynamic dataModel = Model;               
}

<tr>
<th>Grading Progress:</th>
<td>
    @dataModel.GradingProgress.publishedCount of @dataModel.GradingProgress.totalAssignments have been applied
    <br/>
    &nbsp<a style="cursor:pointer" onclick="publishAllMultipliers(dataModel.GradingProgress.AssignmentID);">[apply All Multipliers]</a

</td>
</tr>
