<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_AuthenticationService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_OsbleService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://osble.org/Services/AuthenticationService.svc/Services/AuthenticationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AuthenticationService"
                contract="OSBLEAuthService.AuthenticationService" name="BasicHttpBinding_AuthenticationService" />
            <endpoint address="https://www.osble.org/Services/OsbleService.svc/Services/OsbleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_OsbleService"
                contract="OSBLEServices.OsbleService" name="BasicHttpBinding_OsbleService" />
        </client>
    </system.serviceModel>
</configuration>