@using OSBLEPlus.Logic.DomainObjects.ActivityFeeds
@using OSBLE.Models.Courses
@using OSBLE.Utility
@model AggregateFeedItem
@{
    LogCommentEvent comment = Model.Items.First().Event as LogCommentEvent;
}
@* Spacing is very important, all spacing is preserved (including newlines) *@
<div class="user-text" id="content-comment-@comment.EventLogId">@comment.Content</div>