@using OSBLEPlus.Logic.DomainObjects.ActivityFeeds
@using OSBLE.Models.Courses
@using OSBLE.Utility
@model AggregateFeedItem
@{
    LogCommentEvent comment = Model.Items.First().Event as LogCommentEvent;
}
<div id="content-@comment.EventLogId">
    <div class="user-text" id="content-comment-@comment.EventLogId">@comment.Content</div>
</div>