@model OSBLE.Models.ViewModels.BasicAssignmentViewModel
@{
    ViewBag.Title = "Create";
}
<h2>
    Create</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(function () {

    });
</script>
        <div class="editor-label">
            @Html.Label("Is Team assignment?")
        </div>
        <div class="editor-field">
            @Html.CheckBox("hello", new { id = "isTeam" })
        </div>
        <div id="Team_Options" style="display:none">
        Hello World
        </div>

 