<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>Untitled Document</title>
		<!--<script type="text/javascript" src="jquery.js"></script> -->
		<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.easing.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.collapse.js")"></script>
		<script type="text/javascript">

		    $(function () {

		        $('#collapser').jqcollapse({
		            slide: true,
		            speed: 1000,
		            easing: 'easeOutCubic'
		        });

		    });
			
		</script>
		<style>
			body { width: 500px; margin: 100px auto; font: normal 14px Arial, Helvetica, sans-serif; }
			ul { margin: 0; padding: 0; }
			ul li { margin: 10px 0 10px 25px; padding: 0; list-style: none; }
			
			ul li a {
				position: relative;
				left: -25px;
				padding-left: 25px;
			}
			
			.jqcNode { font-weight: bold; color: green; }
			
			.closedImageApply {
				list-style-image: url("../../Content/images/arrow_right.png");
			}
			.openImageApply {
				list-style-image: url("../../Content/images/arrow_down.png");
			}
			/* File type images */
			.aacImageApply {
				list-style-image: url("../../Content/images/fileextimages/aac.png");
			}
			.aiImageApply {
				list-style-image: url("../../Content/images/fileextimagesai.png");
			}
			.aiffImageApply {
				list-style-image: url("../../Content/images/fileextimages/aiff.png");
			}
			.aviImageApply {
				list-style-image: url("../../Content/images/fileextimages/avi.png");
			}
			.bmpImageApply {
				list-style-image: url("../../Content/images/fileextimages/bmp.png");
			}
			.cImageApply {
				list-style-image: url("../../Content/images/fileextimages/c.png");
			}
			.cppImageApply {
				list-style-image: url("../../Content/images/fileextimages/cpp.png");
			}
			.cssImageApply {
				list-style-image: url("../../Content/images/fileextimages/css.png");
			}
			.datImageApply {
				list-style-image: url("../../Content/images/fileextimages/dat.png");
			}
			.dmgImageApply {
				list-style-image: url("../../Content/images/fileextimages/dmg.png");
			}
			.dotxImageApply {
				list-style-image: url("../../Content/images/fileextimages/dotx.png");
			}
			.dwgImageApply {
				list-style-image: url("../../Content/images/fileextimages/dwg.png");
			}
			.dxfImageApply {
				list-style-image: url("../../Content/images/fileextimages/dxf.png");
			}
			.epsImageApply {
				list-style-image: url("../../Content/images/fileextimages/eps.png");
			}
			.exeImageApply {
				list-style-image: url("../../Content/images/fileextimages/exe.png");
			}
			.flvImageApply {
				list-style-image: url("../../Content/images/fileextimages/flv.png");
			}
			.hImageApply {
				list-style-image: url("../../Content/images/fileextimages/h.png");
			}
			.hppImageApply {
				list-style-image: url("../../Content/images/fileextimages/hpp.png");
			}
			.icsImageApply {
				list-style-image: url("../../Content/images/fileextimages/ics.png");
			}
			.isoImageApply {
				list-style-image: url("../../Content/images/fileextimages/iso.png");
			}
			.javaImageApply {
				list-style-image: url("../../Content/images/fileextimages/java.png");
			}
			.keyImageApply {
				list-style-image: url("../../Content/images/fileextimages/key.png");
			}
			.midImageApply {
				list-style-image: url("../../Content/images/fileextimages/mid.png");
			}
			.mp3ImageApply {
				list-style-image: url("../../Content/images/fileextimages/mp3.png");
			}
			.mp4ImageApply {
				list-style-image: url("../../Content/images/fileextimages/mp4.png");
			}
			.mpgImageApply {
				list-style-image: url("../../Content/images/fileextimages/mpg.png");
			}
			.odfImageApply {
				list-style-image: url("../../Content/images/fileextimages/odf.png");
			}
			.odsImageApply {
				list-style-image: url("../../Content/images/fileextimages/ods.png");
			}
			.odtImageApply {
				list-style-image: url("../../Content/images/fileextimages/odt.png");
			}
			.otpImageApply {
				list-style-image: url("../../Content/images/fileextimages/otp.png");
			}
			.otsImageApply {
				list-style-image: url("../../Content/images/fileextimages/ots.png");
			}
			.ottImageApply {
				list-style-image: url("../../Content/images/fileextimages/ott.png");
			}
			.phpImageApply {
				list-style-image: url("../../Content/images/fileextimages/php.png");
			}
			.pptImageApply {
				list-style-image: url("../../Content/images/fileextimages/ppt.png");
			}
			.psdImageApply {
				list-style-image: url("../../Content/images/fileextimages/psd.png");
			}
			.pyImageApply {
				list-style-image: url("../../Content/images/fileextimages/py.png");
			}
			.qtImageApply {
				list-style-image: url("../../Content/images/fileextimages/qt.png");
			}
			.rarImageApply {
				list-style-image: url("../../Content/images/fileextimages/rar.png");
			}
			.rbImageApply {
				list-style-image: url("../../Content/images/fileextimages/rb.png");
			}
			.rtfImageApply {
				list-style-image: url("../../Content/images/fileextimages/rtf.png");
			}
			.sqlImageApply {
				list-style-image: url("../../Content/images/fileextimages/sql.png");
			}
			.tgaImageApply {
				list-style-image: url("../../Content/images/fileextimages/tga.png");
			}
			.tgzImageApply {
				list-style-image: url("../../Content/images/fileextimages/tgz.png");
			}
			.tiffImageApply {
				list-style-image: url("../../Content/images/fileextimages/tiff.png");
			}
			.txtImageApply {
				list-style-image: url("../../Content/images/fileextimages/txt.png");
			}
			.wavImageApply {
				list-style-image: url("../../Content/images/fileextimages/wav.png");
			}
			.xlsImageApply {
				list-style-image: url("../../Content/images/fileextimages/xls.png");
			}
			.xlsxImageApply {
				list-style-image: url("../../Content/images/fileextimages/xlsx.png");
			}
			.xmlImageApply {
				list-style-image: url("../../Content/images/fileextimages/xml.png");
			}
			.ymlImageApply {
				list-style-image: url("../../Content/images/fileextimages/yml.png");
			}
			.zipImageApply {
				list-style-image: url("../../Content/images/fileextimages/zip.png");
			}
			.pdfImageApply {
				list-style-image: url("../../Content/images/fileextimages/pdf.png");
			}
			.jpgImageApply {
				list-style-image: url("../../Content/images/fileextimages/jpg.png");
			}
			.pngImageApply {
				list-style-image: url("../../Content/images/fileextimages/png.png");
			}
			.gifImageApply {
				list-style-image: url("../../Content/images/fileextimages/gif.png");
			}
			.webImageApply {
				list-style-image: url("../../Content/images/fileextimages/html.png");
			}
			._pageImageApply {
				list-style-image: url("../../Content/images/fileextimages/html.png");
			}
			.defaultImageApply {
				list-style-image: url("../../Content/images/fileextimages/_blank.png");
			}
			
		</style>
	</head>
	<body>
		<ul id="collapser">
		  <li>Item 1
		    <ul>
		      <li><a href="jQuery/asdf.Pdf/asdf">jQuery</a></li>
		      <li>Item 1.2
			 	<ul>
			 		<li><a href="https://www.google.COM">Google</a></li>
					<li><a href="http://stackoverflow.com/questions/4090014/parsing-a-string-with-jquery-or-javascript.pdf/asdf.html/asdf">Apples are good</a></li>
			 	</ul> 	
			  </li>
		      <li>Item 1.3</li>
		    </ul>
		  </li>
		  <li>Item 2
		    <ul>
		      <li>Item 2.1
		        <ul>
		          <li>Item 2.1.1</li>
		          <li>Item 2.2.2</li>
		        </ul>
		      </li>
		    </ul>
		  </li>
		  <li>Item 3</li>
		</ul>
		
	</body>
</html>