@{
    ViewBag.Title = "Dashboard";
}

<script type="text/javascript">
    $("input[name='mode']").change(function () {
        $('#set_dashboard').submit();
    });
</script>

<div id="dashboard_left">
<h4>Notifications</h4>

<div id="notifications">
@Html.Partial("_Notifications")
</div>

<h4>Important Dates</h4>

<div id="important_dates">
@Html.Partial("_ImportantDates")
</div>

</div>

<div id="dashboard_middle">
<h4>Activity Feed</h4>

<div id="activity_feed">
@Html.Partial("_ActivityFeed")
</div>

</div>

<div id="dashboard_right">
<h4>Course Links</h4>

<div id="course_links">
@Html.Partial("_CourseLinks")
</div>

</div>

<p>
</p>