@using OSBLE.Resources
@using OSBLE.Models.Assignments
@model DynamicDictionary
@{
    dynamic dataModel = Model;
    IAssignmentTeam currentTeam = dataModel.AssignmentTeam as IAssignmentTeam;
    String totalCount = dataModel.Total.PostCount.ToString();   
}
<td>
    @(Html.ActionLink(totalCount,
        "TeacherIndex", "DiscussionAssignment",
        new
        {
            assignmentId = dataModel.Total.AssignmentID,
            courseUserId = dataModel.Total.CourseUserID,
            discussionTeamID = dataModel.Total.DiscussionTeamID,
            hightlightValue = OSBLE.Controllers.DiscussionAssignmentController.HighlightValue.PostsAndReplies,
            area = ""
        },
       new { }))
</td>
