<div data-type="legend-hour-view" class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>State Legend</th>
                </tr>
            </thead>
            <tr>
                <td><div class="legend color idle">&nbsp;</div>Idle</td>
            </tr>
            <tr>
                <td class="col-xs-6"><div class="legend edit">&nbsp;</div>Editing</td>
            </tr>
            <tr>
                <td><div class="legend debug">&nbsp;</div>Debugging</td>
            </tr>
            <tr>
                <td><div class="legend run">&nbsp;</div>Running</td>
            </tr>
            <tr>
                <td><div class="legend bar">|</div>Social Event</td>
            </tr>
        </table>
    </div>
</div>
