@model OSBLE.Models.Courses.Course

@{
    ViewBag.Title = "AddedToCommunity";
}

<h2>You Have Been Added to The Community!</h2>


@Html.ActionLink("Back To Community Search", "CommunitySearch");
