@using OSBLE.Models.Assignments;
@using OSBLE.Models;
@model Assignment
@section Header
{
    <script src="@Url.Content("~/areas/AssignmentWizard/Content/js/deliverables.js")" type="text/javascript"></script>
}

<h3>Anchored Discussion Index Page Placeholder</h3>
<h4>Assignment ID: @Model.ID</h4>

