@using OSBLE.Models.Assignments
@using OSBLE.Areas.AssignmentDetails.ViewModels
@using OSBLE.Models.Courses;
@using OSBLE.Resources
@model AssignmentDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Assignment Details";
    DynamicDictionary headerData = Model.HeaderBuilder.BuildHeader(Model.CurrentAssignment);
    
}
@section AssignmentDetails
{
    @foreach (string view in Model.HeaderViews)
    {
        string viewLocation = string.Format("HeaderBuilder/{0}", view);
        @Html.Partial(viewLocation, headerData);
    }
}

@section TableData
{
        @foreach (IAssignmentTeam assignmentTeam in Model.CurrentAssignment.DiscussionTeams)
    {
        <tr>
            <th>@assignmentTeam.Team.Name</th>
            <td>&nbsp;</td>
        </tr>
        foreach (TeamMember member in assignmentTeam.Team.TeamMembers)
        {
            IAssignmentTeam singleUserAssignmentTeam = new AssignmentTeam();
            singleUserAssignmentTeam.Team = new Team();
            singleUserAssignmentTeam.Team.TeamMembers.Add(member);
            singleUserAssignmentTeam.Team.Name = member.CourseUser.DisplayName(Model.Client.AbstractRole);
            singleUserAssignmentTeam.TeamID = member.TeamID;
            singleUserAssignmentTeam.Assignment = assignmentTeam.Assignment;
            singleUserAssignmentTeam.AssignmentID = assignmentTeam.AssignmentID;
        <tr>
            <td>@member.CourseUser.DisplayName(Model.Client.AbstractRole)</td>
            @foreach (string view in Model.TableColumnHeaders.Keys)
            {
                DynamicDictionary tableData = Model.TeamTableBuilders[assignmentTeam].BuildTableForTeam(singleUserAssignmentTeam);
                string viewLocation = string.Format("TableBuilder/{0}", view);
                @Html.Partial(viewLocation, tableData);
            }
        </tr>
        }
    }
}