@using OSBLE.Models.Assignments
@using OSBLE.Areas.AssignmentDetails.ViewModels
@using OSBLE.Models.Courses;
@using OSBLE.Resources
@model AssignmentDetailsViewModel
@{
    ViewBag.Title = "Assignment Details";
    DynamicDictionary headerData = Model.HeaderBuilder.BuildHeader(Model.CurrentAssignment);
    
}
@section AssignmentDetails
{
    @foreach (string view in Model.HeaderViews)
    {
        string viewLocation = string.Format("HeaderBuilder/{0}", view);
        @Html.Partial(viewLocation, headerData);
    }
}
@section TableData
{
    @if (Model.Client.AbstractRole.CanGrade)
    {
        foreach (IAssignmentTeam assignmentTeam in Model.CurrentAssignment.DiscussionTeams)
        {
            if ((assignmentTeam as DiscussionTeam).GetAllTeamMembers().Count() > 1)
            {
                <tr>
                    <th class="TeamHeader" colspan="6">
                        @assignmentTeam.Team.Name
                    </th>
                </tr>
            }

            foreach (TeamMember member in (assignmentTeam as DiscussionTeam).GetAllTeamMembers())
            {
                DiscussionTeam singleUserAssignmentTeam = new DiscussionTeam();
                singleUserAssignmentTeam.Team = new Team();
                singleUserAssignmentTeam.Team.TeamMembers.Add(member);
                singleUserAssignmentTeam.Team.Name = member.CourseUser.DisplayName(Model.Client.AbstractRole);
                singleUserAssignmentTeam.TeamID = member.TeamID;
                singleUserAssignmentTeam.Assignment = assignmentTeam.Assignment;
                singleUserAssignmentTeam.AssignmentID = assignmentTeam.AssignmentID;
                singleUserAssignmentTeam.ID = (assignmentTeam as DiscussionTeam).ID;
                
        <tr>
            <td>@member.CourseUser.DisplayName(Model.Client.AbstractRole)
            </td>
            @foreach (string view in Model.TableColumnHeaders.Keys)
            {
                DynamicDictionary tableData = Model.TeamTableBuilders[assignmentTeam].BuildTableForTeam(singleUserAssignmentTeam);
                string viewLocation = string.Format("TableBuilder/{0}", view);
                @Html.Partial(viewLocation, tableData);
            }
        </tr>
            }
        }
    }
}
