@using OSBLE.Models.Assignments;
@using OSBLE.Models;
@model Assignment

@{
    int assignmentID = Model.ID;
}

@Html.HiddenFor(m => m.ID)

<h4>Select Documents To Upload For Review</h4>

<div id="file_submission">
    <table>
        <tr>
            <td>
                @Html.Label("Upload Documents: ")

            </td>
            <td>
                <input type="file" id="fileToUpload" name="file" />
            </td>
        </tr>
    </table>
</div>
