@{
    ViewBag.Title = "Index";
}
@model List<Course>
@using AbetApp.Models

<h2>Courses Added:</h2>
<ul>
    @foreach (Course course in Model)
    {
        <li><b>@course.Title</b>
            <br />@course.PreReq.ToString();
        </li>
    }

</ul>

<h2>Index</h2>
Enter URL to add courses:
@using (Html.BeginForm())
{
    @Html.TextBox("url")
    <input type="submit" value="Send" />
}