@model OSBLEPlus.Logic.DomainObjects.ActivityFeeds.AggregateFeedItem
<span class="non-user-text">
    <em>@Model.Creator.FirstName</em> 
    ran &quot;@Path.GetFileNameWithoutExtension(Model.Items.First().Event.SolutionName)&quot; and encountered a runtime exception.
</span>