<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_OsbleService" />
                <binding name="BasicHttpBinding_AuthenticationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://plus.osble.org/Services/OsbleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_OsbleService"
                contract="OSBLEServices.OsbleService" name="BasicHttpBinding_OsbleService" />
            <endpoint address="http://plus.osble.org/Services/AuthenticationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AuthenticationService"
                contract="OSBLEAuthService.AuthenticationService" name="BasicHttpBinding_AuthenticationService" />
        </client>
    </system.serviceModel>
</configuration>