@{
    ViewBag.Title = "Dashboard";
}
    <h2>
    No Courses</h2>
<p>You are currently not enrolled in any OSBLE courses.</p>
<a href=@Url.Action("CourseSearch", "Course")>
    @Helpers.SearchButton()
    Search for a Course
</a>
  
<p></p>


<div id="search_hint">
    Click the @Helpers.SearchButton() icon above to request access to a course.
    <div style=""></div>
</div>