<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.Core" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.Core.UI" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.InfoCard" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.InfoCard.UI" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Common" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.ServiceProvider" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth2.AuthorizationServer" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth2.Client" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth2.Client.UI" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth2.ClientAuthorization" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth2.Core" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth2.ResourceServer" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.Core.UI" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.Provider" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.Provider.UI" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty.UI" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenIdInfoCard.UI" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenIdOAuth" version="4.3.0.13117" targetFramework="net40" />
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="EntityFramework" version="4.3.1" />
  <package id="FileCache" version="1.1.2" />
  <package id="jQuery" version="1.5.1" />
  <package id="jQuery" version="1.7.2" />
  <package id="jQuery.UI.Combined" version="1.8.11" />
  <package id="jQuery.UI.Combined" version="1.8.20" />
  <package id="jQuery.Validation" version="1.8.0" />
  <package id="jQuery.vsdoc" version="1.5.1" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="microsoft-web-helpers" version="1.15" />
  <package id="Modernizr" version="1.7" />
  <package id="Newtonsoft.Json" version="4.5.5" />
  <package id="recaptcha" version="1.0.5.0" />
  <package id="T4Scaffolding" version="1.0.1" />
</packages>