<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="OSBLEFromEmail" value="noreply@osble.org" xdt:Transform="Insert"/>
    <add key="RecaptchaPublicKey" value="6LdYIcUSAAAAACaakdgBzvPQEAzrl4RN2V36STmZ" xdt:Transform="Insert"/>
    <add key="RecaptchaPrivateKey" value="6LdYIcUSAAAAAIWz4qDJFVzINkcnU11BM_scM1gr" xdt:Transform="Insert"/>
  </appSettings>

  <connectionStrings>
    <add name="ApplicationServices"
      connectionString="Data Source=localhost;Initial Catalog=osble_aspnetdb;Integrated Security=False;User ID=osbleDb;Password=!h3Lp^1@b$"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="OSBLEData"
      connectionString="Data Source=localhost;Initial Catalog=osble;Integrated Security=False;User ID=osbleDb;Password=!h3Lp^1@b$"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <!-- Uncomment this if you want errors to show up. Use judiciously!-->
    <customErrors mode="On" defaultRedirect="~/Account/ErrorPage" xdt:Transform="Insert"/>

    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.net xdt:Transform="Insert">
    <mailSettings>
      <smtp from="noreply@osble.org">
        <network defaultCredentials="false" host="localhost" password="!h3Lp^1@b$" userName="noreply@osble.org" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>