@using OSBLE.Models.HomePage;
@using OSBLE.Models.Courses;

<style type="text/css">
    .feed-item-ajax {
        display: none;
    }
</style>
<section id="feed-items" data-bind="foreach: items">
@Html.Partial("Feed/_FeedItems")
</section>
<section id="feed-footer">
@Html.Partial("Feed/_FeedFooter")
</section>