@using OSBLEPlus.Logic.DomainObjects.ActivityFeeds
@model AggregateFeedItem
@{
    FeedPostEvent comment = Model.Items.First().Event as FeedPostEvent;
}
<div id="content-@comment.EventLogId">
    <div id="content-comment-@comment.EventLogId">@comment.Comment</div>
</div>