body {
            text-align: center;
        }

        #community-banner {
            background: #074974;
            border-bottom: 2px solid #000000;
            color: white;
            text-align: center;
            position: relative;
            top: 50%;
            padding-top: 5px;
            
        }
        /*Banner*/
        div.col-md-12 {
            padding-left: 0;
            padding-right: 0;
        }

        .nav > li >a {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 10px;
            
        }

        .nav > li > a, .nav > li > a:link, .nav > li > a:visited, .nav > li > a:active {
            color: white;
        }

        .container {
            text-align: center;
            width: 100%;
            margin: 0 auto;
            color: white;
        }

        

        .combined {
            margin: 5px;
        }

        .portlet {
            margin: 0 1em 1em 0;
            padding: 5px;
            /*min-width: 600px;*/
            max-width: 700px;
        }

        .portlet-header {
            padding: 0.2em 0.3em;
            position: relative;
        }

        .portlet-toggle {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -8px;
        }

        .portlet-content {
            padding: 0.4em;
        }

        .portlet-placeholder {
            border: 1px dotted black;
            margin: 0 1em 1em 0;
            height: 50px;
        }

        .c-table {
            width: 100%;
            /*border: outset;*/
            border-width: 10px;
        }

            .c-table.portlet {
                margin-top: 5px;
            }

        .c-header-title {
            background: #074974;
            color: white;
            font-size: x-large;
            text-align: left;
            padding-left: 10px;
            border-right-style: none;
            border-bottom-style: inset;
            border-width: 5px;
            margin-bottom: 5px;
        }

        .c-info {
            background: #074974;
            color: white;
            border-left-style: none;
            width: 20%;
            text-align: right;
            padding-right: 10px;
            border-bottom-style: inset;
            border-width: 5px;
        }

        .community {
            margin: auto;
            text-align: center;
        }

        .left-cell {
            background-color: #CCCCCC;
            text-align: center;
            border-bottom-style: inset;
        }

        .mid-cell {
            background-color: #EEEEEE;
            border-bottom-style: inset;
        }

        .right-cell {
            height: auto;
            border-bottom-style: inset;
        }

        .right-cell-ok {
            background-color: #009933;
            text-align: center;
            height: 100%;
            border-bottom-style: inset;
            padding: 5px;
            font-weight: bold;
            color: white;
            text-shadow: 1px 1px 2px #000000;
        }

        .right-cell-goal {
            background-color: #ff5c33;
            text-align: center;
            height: 100%;
            border-bottom-style: inset;
            padding: 5px;
            font-weight: bold;
            color: white;
            text-shadow: 1px 1px 2px #000000;
        }

        .right-cell-attn {
            background-color: #0c79c0;
            text-align: center;
            height: 100%;
            border-bottom-style: inset;
            padding: 5px;
            font-weight: bold;
            color: white;
            text-shadow: 1px 1px 2px #000000;
        }

        .rate {
            padding: 5px;
            border-bottom-style: none;
        }

            .rate a:link, .rate a:visited {
                color: white;
            }

        .chart-div {
            display: inline-block;
            margin: 0 auto;
        }

        .placeholder {
            width: 100%; /*need to adjust to fit*/
            text-align: left;
            margin: 0px;
            border-left-style: inset;
        }

        

        #updates {
            background-color: #ffcc00;
            border-color: #074974;
            border-style: solid;
        }
        
        .list-group-item.active {
            background-color: #074974;
        }

        .panel-primary>.panel-heading {
            background-color: #074974;
        }
        
        .btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
            display: inline;
        }
       