<div data-type="legend-minute-view" class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">Social Event Legend</th>
                </tr>
            </thead>
            <tr>
                <td class="col-xs-3">QP: Question posted</td>
                <td class="col-xs-3">NP: Non-question posted</td>
            </tr>
            <tr>
                <td>QF: Follow-up to own question</td>
                <td>NF: Follow-up to own non-question</td>
            </tr>
            <tr>
                <td>RQ: Response to question received</td>
                <td>RN: Response to non-question receieved</td>
            </tr>
            <tr>
                <td>QR: Reply to other's question posted</td>
                <td>NR: Reply to other's non-question posted</td>
            </tr>

            <tr>
                <td>AD: Student downloads his/her assignment submission</td>
                <td>BD: Student views difference between two successive builds of someone else's or own code</td>
            </tr>
            <tr>
                <td>CD: Student views course details</td>
                <td>CI: Student views course details</td>
            </tr>
            <tr>
                <td>CM: Student makes a given course the default course</td>
                <td>CS: Student searches for a course to enroll in</td>
            </tr>
            <tr>
                <td>FA: Student filters the activity feed</td>
                <td>FD: Student clicks on "Details" of a specific post</td>
            </tr>
            <tr>
                <td>FF: Student chooses to receive notifications pertaining to follow-up replies to a given post</td>
                <td>FG: Student chooses to view entire conversation thread</td>
            </tr>
            <tr>
                <td>FI: Student visits the feed</td>
                <td>FEO: Sstudent does an error search in OSBIDE</td>
            </tr>
            <tr>
                <td>FEW: student does an error search through OSBIDE web interface</td>
                <td>FM: Student marks a post as helpful (considered to be "active" event)</td>
            </tr>
            <tr>
                <td>FO: Student chooses to load older feed items</td>
                <td>FU: Student chooses to unfollow a post s/he previously followed</td>
            </tr>
            <tr>
                <td>FA: Student chooses to download assignment attachment</td>
                <td>FC: Student chooses to download a course document (e.g., notes, lecture code</td>
            </tr>
            <tr>
                <td>PE: Student chooses to edit his/her profile</td>
                <td>PI: Student chooses to view a profile (own or someone else's)</td>
            </tr>

        </table>
    </div>
</div>
<div data-type="legend-minute-view" class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">State Legend</th>
                </tr>
            </thead>
            <tr>
                <td colspan="2"><div class="legend color idle">&nbsp;</div>Idle</td>
            </tr>
            <tr>
                <td class="col-xs-6"><div class="legend edit">??</div>Editing: SynCorrect: ?; SemCorrect: ?</td>
                <td><div class="legend debug">D?</div>Debugging: SemCorrect: ?</td>
            </tr>
            <tr>
                <td><div class="legend edit">Y?</div>Editing: SynCorrect: Yes; SemCorrect: ?</td>
                <td><div class="legend debug">DN</div>Debugging: SemCorrect: No</td>
            </tr>
            <tr>
                <td><div class="legend edit">YN</div>Editing: SynCorrect: Yes; SemCorrect: No</td>
                <td><div class="legend run">R?</div>Running: SemCorrect: ?</td>
            </tr>
            <tr>
                <td><div class="legend edit">N?</div>Editing: SynCorrect: No; SemCorrect: ?</td>
                <td><div class="legend run">RN</div>Running: SemCorrect: No</td>
            </tr>
            <tr>
                <td><div class="legend edit">NN</div>Editing: SynCorrect: No; SemCorrect: No</td>
                <td><div class="legend run">R/</div>Running: Last Successful Build</td>
            </tr>
        </table>
    </div>
</div>
