@using OSBLE.Models.Assignments;
@model Assignment
@{
    ViewBag.Title = "Assignment Creation Wizard";
    ViewBag.ComponentName = "Rubric Creation";
}
@Html.HiddenFor(m => m.ID)
@Html.Hidden("RubricID", "0")
<script type="text/javascript">
    $(document).ready(documentReady);

    //Called when the document has finished loading and is safe to make DOM calls
    function documentReady() {

        //AC: Commented out for now, but might reimplement later
        //$("#silverlightControlHost").height($(window).height() - 230);

        //listen to form submit requests
        $("#WizardForm").submit(processForm);
    }

    var lastRubricId = 0;
    var readyForContinue = false;
    function processForm(evt) {

        //if lastRubricId is 0, then we need to save the current rubric
        if (lastRubricId == 0) {
            readyForContinue = true;
            document.getElementById("RubricCreationTool").Content.Rubric.PublishChanges_Click(null, null);
            return false;
        }
        $("#RubricID").val(lastRubricId);
    }

    function rubricSaveComplete(rubricId) {
        lastRubricId = rubricId;
        if (readyForContinue == true) {
            processForm();
            $("form").submit();
        }
    }

    function rubricSelected(rubricId) {
        lastRubricId = rubricId;
    }

</script>
<script type="text/javascript">
    function onSilverlightError(sender, args) {
        var appSource = "";
        if (sender != null && sender != 0) {
            appSource = sender.getHost().Source;
        }

        var errorType = args.ErrorType;
        var iErrorCode = args.ErrorCode;

        if (errorType == "ImageError" || errorType == "MediaError") {
            return;
        }

        var errMsg = "Unhandled Error in Silverlight Application " + appSource + "\n";

        errMsg += "Code: " + iErrorCode + "    \n";
        errMsg += "Category: " + errorType + "       \n";
        errMsg += "Message: " + args.ErrorMessage + "     \n";

        if (errorType == "ParserError") {
            errMsg += "File: " + args.xamlFile + "     \n";
            errMsg += "Line: " + args.lineNumber + "     \n";
            errMsg += "Position: " + args.charPosition + "     \n";
        }
        else if (errorType == "RuntimeError") {
            if (args.lineNumber != 0) {
                errMsg += "Line: " + args.lineNumber + "     \n";
                errMsg += "Position: " + args.charPosition + "     \n";
            }
            errMsg += "MethodName: " + args.methodName + "     \n";
        }

        throw new Error(errMsg);
    }
</script>
<div id="silverlightControlHost" style="width:100%; height:600px;">
        <object 
        id="RubricCreationTool"
        data="data:application/x-silverlight-2," 
        type="application/x-silverlight-2" width="100%" height="100%"
        >
		  <param name="source" value="/ClientBin/OsbleRubric.xap"/>
		  <param name="onError" value="onSilverlightError" />
		  <param name="background" value="white" />
		  <param name="minRuntimeVersion" value="4.0.50826.0" />
		  <param name="autoUpgrade" value="true" />
          <param name="initParams" value="courseId=@ViewBag.ActiveCourse.AbstractCourseID" />
		  <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=4.0.50826.0" style="text-decoration:none">
 			  <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style:none"/>
		  </a>
	    </object><iframe id="_sl_historyFrame" style="visibility:hidden;height:0px;width:0px;border:0px"></iframe>
</div>