@{
    ViewBag.Title = "Gradebook";
    Layout = null;
}
<html>
<head>
    <script src="@Url.Content("~/Scripts/jquery-1.6.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        function cellGainsFocus(someCell) {
            var textValue = $(someCell).text();
            var inputText = '<input class="cellInput" onblur="cellInputBlur(this)" type="text" value="' + textValue + '" />';
            $(someCell).replaceWith(inputText);
        }

        function cellInputBlur(someInput) {
            var cellValue = $(someInput).attr("value");
            $(someInput).remove().replaceWith("<td>" + cellValue + "</td>");
        }

        function exchange(el) {
            var nodeI = el.parentNode, inputC = document.createElement('input'), text = el.innerHTML;
            with (inputC) {
                setAttribute('value', text)
                setAttribute('size', text.length - 1, 0)
                style.width = "150"
                setAttribute('type', 'text')
                setAttribute('id', el.id, 0)
                onblur = "changeback(this);"
            }
            nodeI.replaceChild(inputC, el)
        }
        function changeback(el) {
            var nodeI = el.parentNode, inputC = document.createElement('td'), text = el.innerHTML;
            inputC.setAttribute('value', text)
            inputC.setAttribute('size', text.length - 1, 0)
            inputC.setAttribute('type', 'text')
            inputC.setAttribute('id', el.id, 0)
            /*el.innerHTML += '\x20'
            with (inputC) {
            setAttribute('value', text)
            /*setAttribute('size', text.length - 1, 0)
            style.width = document.all && !window.opera ? el.offsetWidth - 2 + 'px' : el.offsetWidth + 2 + 'px'
            setAttribute('type', 'text')
            setAttribute('id', el.id, 0)
            }*/
            nodeI.replaceChild(inputC, el)
        }
    </script>
    <style type="text/css">
        .cellInput
        {
            width:100%;
            height100%;
            border:none;
        }
        .gradebook
        {
            border-collapse:collapse;
            border: 1px solid gray;
        }
        
        .gradebook td
        {
            padding:3px;
            width:100px;
            height:25px;
        }
        
        .gradebook td, .gradebook th, .gradebook tr
        {
            border:1px solid gray;
        }

</style>
</head>
<body>
    <table class="gradebook">
        @for (int i = 0; i < 10; i++)
        {
            <tr>
                @for (int j = 0; j < 5; j++)
                {
                    <td onclick="cellGainsFocus(this)">@(i*j)</td>
                }
            </tr>
        }
    </table>
</body>
</html>
