@{
    ViewBag.Title = "Gradebook";
    Layout = null;
}
<html>
<head>
    <script src="@Url.Content("~/Scripts/jquery-1.6.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var lastFocusedCell = null;
        var showDropDown = false;
        var changedShow = false;

        $(document).click(function () {
            //clearLastCellFocus();
            if (changedShow == true) {
                if (showDropDown == false) {
                    hideDropDown();
                }
                changedShow = false;
            }
            else {
                hideDropDown();
            }
        });

        function clearLastCellFocus() {
            
            //if a prior cell has already received focus in the past, we need to turn it back into
            //a normal table cell
            if (lastFocusedCell != null) {
                var cellValue = lastFocusedCell.children().val();
                lastFocusedCell.html("");
                lastFocusedCell.text(cellValue);
                lastFocusedCell.attr("onclick", 'cellGainsFocus(this)');
                lastFocusedCell = null;
            }
        }

        function cellGainsFocus(someCell) {

            //do this once so we don't have to constantly do it later
            someCell = $(someCell);

            //clear any previous focus
            clearLastCellFocus();
            
            var textValue = someCell.text();
            var inputText = $('<input class="cellInput" type="text" value="' + textValue + '" />');
            someCell.removeAttr("onclick");
            someCell.html(inputText);
            inputText.focus();
            lastFocusedCell = someCell;
        }

        function cellInputBlur(someInput) {
            //if a prior cell has already received focus in the past, we need to turn it back into
            //a normal table cell
            if (lastFocusedCell != null) {
                var cellValue = lastFocusedCell.children().val();
                lastFocusedCell.html("");
                lastFocusedCell.text(cellValue);
            }
        }

        function calculateRows() {
            
            //clear any previous focus
            clearLastCellFocus();

            $("#grades tr").each(function () {
                var total = 0;
                $(this).find('td').each(function () {
                    total += parseInt($(this).text());
                });
                alert("Row Total: " + total);
            });
        }

        function calculateTotal() {
            
            //clear any previous focus
            clearLastCellFocus();

            var final = 0;
            $("#grades tr td").each(function () {
                    final += parseInt($(this).text());
            });
            alert("Total Table: " + final);
        }

        function calculateCols() {

            //clear any previous focus
            clearLastCellFocus();

            var col1 = 0;
            var col2 = 0;
            var col3 = 0;
            var col4 = 0;
            var col5 = 0;

            //reference the rows you want to add
            //this will not include the header row
            var rows = $("#grades tr");
            rows.children("td:nth-child(1)").each(function () {

                //each time we add the cell to the total
                col1 += parseInt($(this).html());
            });
            rows.children("td:nth-child(2)").each(function () {
                col2 += parseInt($(this).html());
            });
            rows.children("td:nth-child(3)").each(function () {
                col3 += parseInt($(this).html());
            });
            rows.children("td:nth-child(4)").each(function () {
                col4 += parseInt($(this).html());
            });
            rows.children("td:nth-child(5)").each(function () {
                col5 += parseInt($(this).html());
            });

            alert(col1);
            alert(col2);
            alert(col3);
            alert(col4);
            alert(col5);
        }

        function ShowHide(buttonClick) {
            var container = buttonClick.id;
            var y = $("#" + container).position().left;
            y += 3;
            $("#slidingDiv").css("left", y + "px");
            $("#slidingDiv").animate({ "height": "show" }, { duration: 50 });
            if (showDropDown == true) {
                showDropDown = false;
                changedShow = true;
            }
            else {
                showDropDown = true;
                changedShow = true;
            }
            clickOffButton = false;
        }

        function hideDropDown() {
            $("#slidingDiv").animate({ "height": "hide" }, { duration: 50 });
        }

    </script>   
    <style type="text/css">
        .cellInput
        {
            width:100%;
            border:none;
        }
        .gradebook
        {
            width:100%;
            border-collapse:collapse;
            border: 1px solid gray;
        }
        
        .gradebook td
        {
            padding:3px;
            width:100px;
            height:25px;
        }
        
        .gradebook td, .gradebook th, .gradebook tr
        {
            width:20%;
            border:1px solid gray;
        }
        
        .menu
    	{
			width:100px;
			border:1px solid gray;
		}
        
        .slidingDiv 
        {
			width:100px;
			height:100px;
			background-color:white;
			top: 53px;
			left:400px;
		}
		
		.dropdown
		{
		    
		}
        
    </style>
</head>
<body>
    <table id="grades" class="gradebook">
        <tr>    
        @for (int i = 0; i < 5; i++)
        {            
            <th>Column @i<div id="cntnr" align="right"><button class="dropdown" id="col-@i" onblur="minMenu(this);" onclick="ShowHide(this);"></button></div></th>
        }

        </tr>

        @for (int i = 0; i < 10; i++)
        {
            <tr>
                @for (int j = 0; j < 5; j++)
                {
                    <td onclick="cellGainsFocus(this)">@(i * j)</td>
                }
            </tr>
        }
    </table>
    
    <div class="slidingDiv"; id="slidingDiv" style="display: none; position:absolute; ">
	    <table class="menu">
		    <tr><td><a href="#">Insert 1 left</a></td></tr>
		    <tr><td><a href="#">Insert 1 right</a></td></tr>
		    <tr><td><a href="#">Delete column</a></td></tr>
		    <tr><td><a href="#">Clear column</a></td></tr>
	    </table>
    </div>

    <script type="text/javascript">
        /*function ShowHide(buttonClick) {
            var container = buttonClick.id;
            var y = $("#"+container).position().left;
            y += 3;
            $("#slidingDiv").css("left", y + "px");
            $("#slidingDiv").animate({ "height": "show" }, { duration: 50 });
        }*/
       
	</script>

    <input value="Calculate Rows" type="button" onclick="calculateRows()" />
    <input value="Calculate Columns" type="button" onclick="calculateCols()" />
    <input value="Calculate Total" type="button" onclick="calculateTotal()" />
</body>
</html>
