@* template for partials, need to pass models and create unique class name for each type of partial *@
<div id="Goals" class="c-table portlet">

    <table class="portlet-content">
        <tr>
            <th class="c-header-title portlet-header" colspan="3">Goals</th>
            <th class="c-info">
                <img class="c-help"
                     src="../../Content/images/tooltip/109_AllAnnotations_Help_19x19_72.png"
                     alt="(?)"  />
            </th>
        </tr>
        <tr>
            <td class="left-cell">
                Getting started!
                <br />(Time)
            </td>
            <td colspan="2" class="mid-cell">
                Create [Programming Assignment #2] project solution on the day it’s assigned [1/19/2016]
            </td>
            <td class="right-cell">
                <div class="right-cell-goal">
                    [2] days past
                </div>
                <div class="right-cell-attn">
                    @Helpers.Alert()
                </div>
            </td>
        </tr>
        <tr>
            <td class="left-cell">
                Keep trying!
                <br />(Time)
            </td>
            <td colspan="2" class="mid-cell">Spend 3 hours coding in-IDE working on [Programming Assignment #1]</td>
            <td class="right-cell-ok">OK</td>
        </tr>
        <tr>
            <td class="left-cell">
                Code Debugger <br />(Programming)
            </td>
            <td colspan="2" class="mid-cell">Code execution at least [80%] of runs in debug mode</td>
            <td class="right-cell-ok">OK</td>
        </tr>
        <tr>
            <td class="left-cell">
                Participate! <br />(Social)
            </td>
            <td colspan="2" class="mid-cell">At least [2] posts per week made</td>
            <td>
                <div class="right-cell-goal">
                    [1] posts
                </div>
                <div class="right-cell-attn">
                    @Helpers.Alert()
                </div>
            </td>
        </tr>
        <tr>
            <td class="c-info rate" colspan="4">Was this useful? <a href="#">[Yes]</a> <a href="#">[No]</a></td>
        </tr>
    </table>
</div>
