
@* template for partials, need to pass models and create unique class name for each type of partial *@

<div id="Online" class="" style="border: dotted #0094ff; margin-top: 5px;">
    <h1>Who's online?</h1>
</div>
