@* template for partials, need to pass models and create unique class name for each type of partial *@
<div id="PersonalStanding" class="c-table portlet">
    <table class="portlet-content">
        <tr>
            <th class="c-header-title portlet-header" colspan="3">Goals at a Glance: Where do I stand?</th>
            <th class="c-info">
                <img class="c-help"
                     src="../../Content/images/tooltip/109_AllAnnotations_Help_19x19_72.png"
                     alt="(?)" />
            </th>
        </tr>
        <tr>
            <td class="chart-area" colspan="4">
                <div id="personalchart" class="chart-div">
                </div>
            </td>
        </tr>
        <tr>
            <td class="c-info rate" colspan="4">Was this useful? <a href="#">[Yes]</a> <a href="#">[No]</a></td>
        </tr>
    </table>

</div>
