@* template for partials, need to pass models and create unique class name for each type of partial *@

<div id="RecentActivity" style="border: dotted #ff006e; margin-top: 5px;">
    <h1>Recent Activity</h1>
</div>
