@* template for partials, need to pass models and create unique class name for each type of partial *@

<div id="Error">
    <div class="grid-stack-item-content">
        <input type="submit" value="Close" class="close_grid" />


        <h1>View not found</h1>

    </div>
</div>
