@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>General Error:</h1>
        <h2>@ViewBag.ErrorMessage</h2>
    </div>
</body>
</html>
