@using OSBLE.Resources
@using OSBLE.Models.Assignments
@using OSBLE.Models.Courses
@model DynamicDictionary
@{
    dynamic dataModel = Model;
    //TODO: handle multiple documents    
    //authorTeamId = 1, 1 is the document counter (1st document is 1, 2nd is 2 etc..)
}

<tr>
    <th>Submission to Review: </th>
    <td>        
        @(Html.ActionLink("Review Document", "GetAnnotatedDocument", "FileHandler",
                new { area = "", assignmentId = dataModel.Assignment.ID, authorTeamId = 1 },
        new { onclick = "create_and_open_downloading_submission_dialog()" }))        
    </td>
</tr>
