<h2>Event Needs Approval</h2>

<p>Your event posting has been received, but must first receive approval from an instructor before appearing in the calendar.
A notification has been sent to the instructor to approve your event.</p>

@Html.ActionLink("Back to Events", "Index")