@using OSBLE.Controllers;
@using OSBLE.Models.Courses;
@using OSBLE.Models.Assignments;
@using OSBLE.Models.Assignments;
@using OSBLE.Utility;
@{
    ViewBag.Title = "Index";
}


<h3>Gradebook</h3>

@if (ViewBag.ActiveCourse.AbstractRole.CanModify)
{
    @Html.Partial("_TeacherGradebook");
}
else if (ViewBag.ActiveCourse.AbstractRole.Anonymized)
{
    @Html.Partial("_ObserverGradebook");
}
else
{
    @Html.Partial("_StudentGradebook");
}

    
