@using OSBLEPlus.Logic.DomainObjects.ActivityFeeds
@model AggregateFeedItem
@{
    LogCommentEvent comment = Model.Items.First().Event as LogCommentEvent;
}

<div id="comment-content-@comment.EventLogId">
    @comment.Content
</div>
