<div id="WizardBottomNav" style="clear:both;">
        <input type="submit" value="Previous" name="@ViewBag.PreviousWizardButton" />
        <input type="submit" value="Next" name="@ViewBag.NextWizardButton" />
</div>

<!--end of "WizardContent" div defined in _WizardTopNav-->
</div>