@* template for partials, need to pass models and create unique class name for each type of partial *@

<div class=" c-table portlet" id="PersonalStanding">
    <div class="list-group">
        <span href="#" class="list-group-item active">
            Goals at a Glance: Where do I stand?<span class="badge">
                <a id="modal-111272" href="#modal-container-111272" role="button" data-toggle="modal">
                    <img class="c-help"
                         src="../../Content/images/tooltip/109_AllAnnotations_Help_19x19_72.png"
                         alt="(?)" />
                </a>
            </span>
        </span>
        <div class="list-group-item">
            <div id="personalchart" class="chart-div">
            </div>
        </div>
        <span class="list-group-item active"><span class="badge">Was this Useful? <a href="#">[Yes]</a> <a href="#">[No]</a></span>&nbsp;</span>
    </div>
</div>

