@{
    ViewBag.Title = "Import Roster";
}

<h2>Import Roster</h2>

<p class="error">@ViewBag.Error</p>
<p>Please see "@Html.ActionLink("Adding Students", "AddingStudents", "Help")" for more help importing a student roster.</p>

<div>
    <br />
    @Html.ActionLink("Back to Roster", "Index")
</div>
