@model OSBLE.Models.Courses.Course

@{
    ViewBag.Title = "CourseCurrentlyEnrolled";
    string CourseName = ViewBag.CourseName;
}

<h2>Request to Join Course [@CourseName]</h2>

<p>
    Your request to join <strong>[@CourseName]</strong> was not successful. 
    <br /><br />
    You are either currently enrolled or have pending enrollment status for this course.
</p>

<br />
@Html.ActionLink("Back to Course Search", "CourseSearch")
