@using OSBLE.Models.Assignments
@{
    Assignment assignment = ViewBag.Assignment;
    ViewBag.Title = "Discussion Assignment: " + assignment.AssignmentName;
}
<div id="activity_feed">
    @Html.Partial("_DiscussionFeed")
</div>
<p>
</p>