@using OSBLE.Models.Assignments
@{
    Assignment assignment = ViewBag.Assignment;
    ViewBag.Title = "Discussion Assignment: " + assignment.AssignmentName;
    string selectedAssignment = ViewBag.AssignmentSelectId;
    int postOrReply = ViewBag.PostOrReply;
}

<div id="activity_feed">
@Html.Partial("_DiscussionFeed")
</div>
<p>
</p>

