@using OSBLE.Models.Assignments
@{
    
    Assignment assignment = ViewBag.Assignment;
    ViewBag.Title = "Discussion Assignment: " + assignment.AssignmentName;
}

<h2>Discussion Assignment</h2>

<fieldset style="border-color:White;">@assignment.AssignmentDescription</fieldset>
<br />

<div id="activity_feed">
@Html.Partial("_DiscussionFeed")
</div>
<p>
</p>
