@model OSBLE.Models.Assignments.Assignment

@{
    ViewBag.Title = "Wizard Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string publishText = "Publish Assignment";
    if(Model.IsDraft == false)
    {
        publishText = "Unpublish Assignment";
    }
}

<h2>Wizard Complete!</h2>
<p style="max-width:800px">
A new assignment entitled "@Model.AssignmentName" has been created. At this point, you can either 
</p>
<ul>
    <li><a href="@Url.Action("Index", "Home", new { area = "AssignmentWizard", assignmentId = Model.ID})">Edit the assignment</a></li>
    <li><a href="@Url.Action("ToggleDraft", "Assignment", new { area = "", assignmentId = Model.ID})">Publish the assignment right now</a></li>
    <li><a href="@Url.Action("Index", "Assignment", new { area = "" })">Return to main Assignments page</a></li>
</ul>
