
/* override Site.css content width*/
#content {
    width: 100%;
    margin: 0px;
}

#analytics_menu {
    clear: both;
}

#analytics_content {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}

#analytics_left {
    background-color: #e4e4e4;
    height: auto;
    min-height: 300px;
}

#analytics_right {
    background-color: #c6cfd7;
    height: auto;
    min-height: 300px;
}

/*Menu selection*/
.nav-analytics .menu_item.current {
    border-left: 3px solid #0b4874;
    border-right: 3px solid #0b4874;
    background: #F0F0F0;
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
}

#analytics_menu .btn:not(.btn-primary) {
    background-color: #eee;
}

#analytics_menu {
    margin-bottom: 10px;
}

#view_link, #options_link {
    float: right;
    margin: 5px;
}

@media(max-width: 768px)
{
    #analytics_left, #analytics_right {
        padding-top: 10px
    }
}

.nav-analytics .menu_item a, .nav-analytics .menu_item a:link, .nav-analytics .menu_item a:visited, .nav-analytics .menu_item a:hover, .nav-analytics .menu_item a:active {
    color: #0b4874;
}

/* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

.nav-analytics {
    width: 100%;
}

.nav-analytics ul {
    list-style: none;
    background-color: #e6e6e6;
    margin: 0;
}

.nav-analytics li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
    text-align: center;
}

.nav-analytics a {
    text-decoration: none;
    color: #0b4874;
    display: block;
    -webkit-transition: .3s background-color;
    -moz-transition: .3s background-color;
    -ms-transition: .3s background-color;
    -o-transition: .3s background-color;
    transition: .3s background-color;
    padding-left: 10px;
    padding-right: 10px;
}

    .nav-analytics a:hover {
        background-color: #005f5f;
    }

    .nav-analytics a.active {
        background-color: #191970;
        color: #444;
        cursor: default;
    }

@media screen and (min-width: 600px) {
    .nav-analytics li {
        width: auto;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    .nav-analytics li {
        float: left;
    }

    .nav-analytics ul {
        overflow: auto;
        width: auto;
        margin: 0 auto;
        clear: both;
    }
}

.options_view {
    padding: 9px;
    background-color: #eee;
    border-radius: 10px;
    margin-bottom: 10px;
}

.analytic-view {
    padding-top: 9px;
}

#analytics_content > div > h1 {
    margin: 0px;
}

@media(max-width: 768px)
{
    .opt-col-1 {
        width: 50%;
        float:left;
        clear: left;
    }
    .opt-col-2 {
        width: 50%;
        float: right;
        clear: right;
        padding-left: 5px;
    }
}

/* Options view toggle button */
.options_view > .show-hide-toggle {
    display: block;
    float: right;
    color: #ccc;
    margin-bottom: -2px;
}
.options_view > .show-hide-toggle:hover {
    color: #999;
    text-decoration: none;
}
.options_header {
    color: #999;
    font-size: 12pt;
    margin: 0;
    margin-top: 2px;
    font-weight: bold;
}
#options_content {
    margin: 15px;
}
.options_view.content-hidden {
    float: none;
}
.analytic-view.options-hidden {
    width: 100%;
}