@{
    ViewBag.Title = "Adding Web Links to an Assignment's Description";
}
<h1>Adding Web Links to an Assignment's Description</h1>
<p>
    <br /> Often, it is helpful to include a link to a PDF file or some other web-based resource to an assignment's description.  
    OSBLE supports the insertion of web links during an assignment's creation or later during an edit into the 
    &quot;Assignment Description&quot; textbox on the basic settings page.  The basic format for adding a web link is as follows:
</p>
<p>
    <code>[url:&lt;link text&gt;|&lt;link url&gt;]
    </code>
</p>
<p>
    Here is an example that links to Google:
</p>
<p>
    <code>
        [url:Link to Google|http://google.com]
    </code>
</p>
<p>
    Note that the character that separates the link text and the link URL is a pipe 
    (|) and can created by holding the SHIFT key and pressing the backslash (\) 
    key on most keyboards.  Often, the backslash/pipe key is located near a keyboard's ENTER key.  
</p>