@{
    ViewBag.Title = "Creating a new Course";
}
<h1>Creating a new Course</h1>
<p>
    This page will guide you through the creation of a new course.  
    Note that in order to create courses, your account must have prior authorization from the OSBLE administrators.  
    To obtain authorization for your account, please contact OSBLE support at <a href="mailto:support@osble.org">support@osble.org.</a>   
    After logging into OSBLE, click the add course (&quot;+&quot;) button near the top right of the page to begin 
    the process of creating a new course.
</p>
<img src="@Url.Content("~/Content/images/help/create_1.png")" alt="add course image" />
<p>
    Upon clicking the add course button, OSBLE will prompt you for the type of course to create.  
    In this tutorial, we are concerned with creating a new course, so we will click that link.
</p>
<img src="@Url.Content("~/Content/images/help/create_2.png")" alt="select create course" />
<p>
    After clicking on the &quot;Create Course&quot; link, OSBLE will bring you to the main course creation page.  
    In the example pictured below, we have created a course titled &quot;OSBLE 101 – My OSBLE Course&quot; 
    that starts on August 19, Ends on December 12, and meets three times a week at 10:00.  
    When you are satisfied with the structure of your course, click the &quot;Create Course&quot; button at the bottom of the 
    page, which will create your course in the system and redirect you to the OSBLE dashboard.  
</p>
<img src="@Url.Content("~/Content/images/help/create_3.png")" alt="a sample course" />