@model OSBLE.Models.FindUserNameModel

@using OSBLE.Models

@{
    ViewBag.Title = "Find Username";
    Layout = "~/Views/Shared/_LogOn.cshtml";
}

<h2>Find Username</h2>

@using (Html.BeginForm())
{
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
        <div class="editor-label">
            @Html.LabelFor(m => m.SchoolName)
        </div>
        <div class="editor-label">
            @Html.DropDownListFor(m => m.SchoolName, new SelectList(Model.Schools), new { @class = "form-control" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.SchoolID)
        </div>
        <div class="editor-label">
            @Html.TextBoxFor(m => m.SchoolID, new { @class = "form-control" })
        </div>
        <div>
            @*@Html.Partial("_ReCaptcha")*@
        </div>
        <p>
            <input type="submit" class="btn btn-default" value="Find Username" />
        </p>
    </div>
}
