@using OSBLE.Models.Assignments
@model List<Assignment>
           

           
<div id="@(ViewBag.assignmentListID + ViewBag.AssignmentList.ToString())" class="assignment_accordion">
    @{
        int StudioAssignmentCounter = 0;
    }
    @foreach (Assignment sa in Model)
    {
        ViewBag.StudioAssignmentCounter = StudioAssignmentCounter;
        if (ViewBag.ActiveCourse.AbstractRole.CanModify)
        {
            Html.RenderPartial("_AssignmentContentTeacher", sa);
        }
        else
        {
            Html.RenderPartial("_AssignmentContentStudent", sa);
        }
        StudioAssignmentCounter++;
    }
</div>
