@using OSBLE.Models.Assignments
@model OSBLE.Models.ViewModels.AssignmentListViewModel

@{
    ViewBag.Title = "Assignments";
}

<script src="@Url.Content("~/Scripts/osble.assignment_list.js")" type="text/javascript"></script>


<p>Past Assignments</p>

<div class="assignment_accordion">
    <div class="assignment_header"><a href="#">hello</a></div>
    <div>content</div>
    <div class="assignment_header"><a href="#">hello</a></div>
    <div>content 2</div>
    <div class="assignment_header"><a href="#">hello</a></div>
    <div>content 3</div>
</div>

<p>Present Assignments</p>

<div class="assignment_accordion">
    <div class="assignment_header"><a href="#">hello</a></div>
    <div>content</div>
    <div class="assignment_header"><a href="#">hello</a></div>
    <div>content 2</div>
    <div class="assignment_header"><a href="#">hello</a></div>
    <div>content 3</div>
</div>

<p>Future Assignments</p>

<div class="assignment_accordion">
    <div class="assignment_header"><a href="#">hello</a></div>
    <div>content</div>
    <div class="assignment_header"><a href="#">hello</a></div>
    <div>content 2</div>
    <div class="assignment_header"><a href="#">hello</a></div>
    <div>content 3</div>
</div>