@model OSBLE.Models.ViewModels.InlineReviewViewModel
@using OSBLE.Models.Users;
@using OSBLE.Models
@{
    ViewBag.Title = "InlineReview";
}

<h2>Inline Review of @(ViewBag.Assignment.AssignmentName) for @(ViewBag.AssignmentTeam.Team.Name)</h2>

<div style="width:99%; height:1000px">
@Html.DisplayFor(m=>m.ReviewInterface)
</div>