@model OSBLE.Models.Assignments.Assignment

@{
    ViewBag.Title = "Assignment Creation Wizard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wizard Complete!</h2>
<p>
You have finished creating your assignment.  At any time, you may go back and edit the assignment's details.
</p>
