@model OSBLE.Models.Courses.Course

@{
    ViewBag.Title = "AllReadyInCommunity";
}

<h2>You are Already a Participant in This Community</h2>

<p>
    Your attempt to join has been rejected because you are already a participant in this community.
</p>

@Html.ActionLink("Back to Community Search", "CommunitySearch")
