@model OSBLE.Models.Courses.Course

@{
    ViewBag.Title = "Approval";

}

<h2>Approve Student for Course</h2>
<tr>
    <th>Requester</th>
    <td>bllep boop beep bloop pooooooooo</td>
    
</tr>
