@model OSBLE.Models.Courses.Course

@{
    ViewBag.Title = "CourseAwaitingApproval";
    string CourseName = ViewBag.CourseName;
}

<h2>Request To Join @CourseName is Awaiting Instructor Approval</h2>


<p>
    Your request to join @CourseName has been received. Before you are enrolled, you must first recieve approval from the course instructor.
    The instructor has been notified of your request.
</p>

@Html.ActionLink("Back to OSBLE Home", "Index", "Home")