@model OSBLE.Models.Courses.Course

@using OSBLE.Models;
@using OSBLE.Controllers;

@{
    ViewBag.Title = "Community Search";
}

<h2>Comminity Search @Helpers.CreateToolTip(ToolTips.CommunitiesSearch)</h2>

@using (Html.BeginForm("CommunitySearchResults", "Course", FormMethod.Post, new { @class = "form-class" }))
{
    <fieldset>
        <legend><b>Sear For Communities</b></legend>
        <form id="searchbox" action="CommunitySearchResults">
            <input id="communitysearch" type="search" placeholder="Community Name here" autocomplete="on" autofocus />
            <input id="submitcommunitysearch" type="submit" value="Search" />
        </form>

    </fieldset>

}


