@{
    ViewBag.Title = "AccountCreated";
    Layout = "~/Views/Shared/_LogOn.cshtml";
}

<h2>Your Account Has Been Created</h2>

<p>Within a few minutes, you should receive an e-mail containing instructions on how to activate your account. Please check your e-mail, keeping in mind that the e-mail may be placed in your junk folder.</p>
