@{
    ViewBag.Title = "AccountCreated";
    Layout = "~/Views/Shared/_LogOn.cshtml";
}

<h2>Your Account Has Been Created</h2>

<p>Your account has been created, you should receive an e-mail within 24 hours contain directions on how to active your account. Please check your e-mail for this e-mail it may be in your junk folder</p>
