@{
    ViewBag.Title = "AccountCreated";
    Layout = "~/Views/Shared/_LogOn.cshtml";
}

<h2>Your Account Has Been Created</h2>

<p>
A verification message has been sent to the specified email address.  Delivery may take up to an hour.  Please be sure to check your spam box as this message may be caught by certain spam filters.
</p>
