@{
    ViewBag.Title = "Contact Us Success";
    Layout = "~/Views/Shared/_LogOn.cshtml";
}

<div>
    Name: @ViewBag.CUName
</div>
<div>
    Email: @ViewBag.CUEmail
</div>
<div>
    Message: @ViewBag.CUMsg
</div>

