@{
    Layout = "~/Views/Shared/_LogOn.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Error</title>
    <h2>Error Encountered</h2>
</head>
<body>
    <div>
        We have an encountered an error when trying to process your request. <br />
    </div>
    <div>
    If you were in the middle of completing an action, please check to see if the action was completed. If it was not, please try again.<br />
    </div>
    <div>
    If you continue to receive this error when trying to complete the same action, please @Html.ActionLink("contact us", "ContactUs", "Account")<br />
    </div>
</body>
</html>
