<p>Online Studio-Based Learning Environment (OSBLE) is an open-source learning management environment specifically tailored to support studio-based learning activities in both online and face-to-face courses. With funding from the National Science Foundation, OSBLE  has been developed by members of the Human-centered Environments for Learning and Programming (HELP) Lab (<a href="http://helplab.org/">http://helplab.org</a>) in the School of Electrical Engineering and Computer Science at Washington State University. The HELP Lab is directed by Dr. Chris Hundhausen.
As teachers and researchers, the developers of OSBLE care about your privacy. Accordingly, we have established the privacy policy outlined below.
</p>

<h4>
How does OSBLE help you to protect your privacy?
</h4>
<ul>
    <li>While OSBLE administrators can change your password, no one, not even OSBLE administrators, has access to your password. We use one-way encryption to ensure that your password is securely stored.</li>
    <li>We will never share your personal information or activities in OSBLE with third parties for commercial or marketing purposes.</li>
    <li>will never send you unsolicited communications for marketing purposes.</li>
    <li>We use secure data encryption (https) to keep your personal information safe. To ensure that unauthorized people do not access your account, please use a strong password, change it frequently, and keep others from accessing it.</li>
    <li>To prevent unauthorized access to your account, please be sure to log out of OSBLE when you are not using it.</li>
    <li>We carefully verify the credentials of anyone who requests an instructor account. We will not knowingly issue an instructor account to anyone who is not actually an instructor of a high school or college course. If you are a student in a course led by an instructor you believe is not actually an instructor, please contact us.</li>
    <li>Trusted members of our research staff have administrator access to OSBLE. We take our administrator duties seriously, and access your personal data only when necessary to troubleshoot a problem that you bring to our attention.</li>
</ul>

<h4>
What data does OSBLE store?
</h4>

<p>
OSBLE is an online learning management environment intended to be used as a resource for both face-to-face and online high school and college courses. As such, OSBLE necessarily stores the following personal information:
</p>

<ul>
    <li>Your name</li>
    <li>Your student identification number</li>
    <li>A picture of you, if you choose to upload one</li>
    <li>Your e-mail address</li>
    <li>Any course assignments you submit through OSBLE (We strongly recommend that you not include any identifiable personal information on assignments you submit through OSBLE, in order to protect your own privacy)</li>
    <li>Any grades and written evaluations of your course work that your instructor provides through OSBLE</li>
    <li>Written comments and evaluations that students and moderators provide as part of studio-based learning activities (peer reviews, issue voting, author rebuttal)</li>
    <li>Any posts to the course activity feed or other discussion areas that you make</li>
</ul>

<h4>
Who has access to your personal data, and to what extent?
</h4>

<ul>
    <li><em>Course instructors</em> have access to your name, your profile picture (if you choose to upload one), the work you submit through OSBLE, what you do in OSBLE (your posts and studio activity work), and others’ reviews and evaluations of your work only in those courses for which they are your instructor. However, course instructors do not have access to personal messages you send and receive, except those that you send to, or that are sent by, the course instructors themselves.</li>
    <li><em>Other students</em> in courses in which you are enrolled do not have access to your personal information, except for your name and profile picture (if you choose to upload one). Depending on how the course instructor configures assignments, other students may or may not know your identity in assignment activities.</li>
    <li><em>Moderators</em> in courses in which you are enrolled have access only to the work and activities of the review teams to which they are assigned. Depending upon how the course instructor configures assignments, moderators may or may not know your identity when they are part of the same review team as you. </li>
    <li>Your instructors have the option of assigning trusted <em>observers</em> to your courses. Usually, observers are teachers and industry professionals who have an interest in the kind of teaching methods your instructors are using, and who have agreed to provide your instructors with support. Observers have the ability to access (but not modify) courses in the same ways instructors can, except that all students are anonymized to observers. In other words, when observers view a course, all of your personally-identifiable information is hidden, and your name is changed to a pseudonym in order to protect your identity. Because course observers have access to your submitted work, it is especially important that you do not include any personally identifiable information in the documents you submit.</li>
    <li>In order to maintain the site and troubleshoot issues, OSBLE <em>administrators</em> necessarily have access to all of data stored in OSBLE, including your personally-identifiable data.  However, administrators will access personally identifiable information only when necessary in order to troubleshoot an issue and/or verify that a feature is working properly, and then only when you make a request. Administrators are trusted members of the HELP Lab staff—usually graduate students assigned to the project.</li>
</ul>


<h4>
How long will your data be stored on OSBLE, and for how long will you and others have access to it?
</h4>

<ul>
    <li>Your data for a given course will be stored on OSBLE throughout the duration of the course.</li>
    <li>OSBLE provides instructors with the ability to delete a course after the course is over. When instructors delete a course, all of your data are also deleted.</li>
    <li>OSBLE provides instructors with the ability to archive a course after the course is over. When instructors archive a course, your data are saved with the course; however, your data are unlinked from your identity, so that they are no longer personally identifiable. (Of course, the extent to which your submitted work is personally identifiable hinges on the extent to which you have removed identifying information from your work before handing it in.)</li>
    <li>We recommend that instructors either delete or archive their courses within a year after they end. However, whether they actually do this is up to them, not us.
</ul>

<h4>
OSBLE and FERPA
</h4>

<p>
<a href="http://www2.ed.gov/policy/gen/guid/fpco/ferpa/index.html">The Federal Educational Rights and Privacy Act</a> (FERPA) was developed to protect the privacy of student records. While much of the responsibility of adhering to FERPA regulations rests with school administrators and course instructors, FERPA does have implications for learning management systems like OSBLE. Below, we identify these implications, and discuss how OSBLE has been designed to make it easy to address them.  
</p>

<ul>
    <li>All student data stored in OSBLE are considered to be educational records protected by FERPA.  As such, we follow standard industry practices to securely store and process these records, and to prevent unauthorized parties from accessing them. Please see the section entitled "Who has access to your personal data, and to what extent?" for more information.</li>
    <li>It is not a violation of FERPA for instructors to see what students are in their courses, and for students to see who else is in the courses in which they are enrolled. However, it would be a violation of FERPA for course observers and moderators (who are not enrolled in the course) to have access to the names and data of students enrolled in a course. As such, course observers can access only anonymized student data.  If instructors would like to prevent moderators of studio-based learning activities (who may not be involved in the course) from accessing students' identities, instructors may choose to run these activities  "single blind" or "double blind," so that moderators cannot see the identity of the students in the teams they are moderating.</li>
    <li>OSBLE system administrators have access to all data stored in OSBLE. However, they will access these data only for the express purpose of troubleshooting system problems, and then only at the request of a user. We take our administration duties seriously, and would never share personally-identifiable information with anyone for any reason without express permission, or as required by law.</li>
</ul>