@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LogOn.cshtml";
}

<div>
    <p>
    Your OSBLE password has been reset.
    </p>
    <p>
    You should receive an email shortly with further instructions.
    </p>
</div>

