@using OSBLE.Models.Assignments
@{
    Assignment assignment = ViewBag.Assignment;
    ViewBag.Title = "Discussion Assignment: " + assignment.AssignmentName;
}
<h2>@assignment.AssignmentName</h2>
<fieldset style="border-color: White;">@Html.Raw(HttpUtility.HtmlDecode(Helpers.WikiUrlLinking(assignment.AssignmentDescription).ToString()))</fieldset>
<br />
<div id="activity_feed">
    @Html.Partial("_DiscussionFeed")
</div>
<p>
</p>