@model OSBLE.Models.ViewModels.StudioAssignmentViewModel

@Html.DisplayFor(m=>m.StudioTimelineCreation)

<div id="delicious_serial" style="display: none;">
    @Model.SerializedActivitiesJSON
</div>