@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Viewing Private Conversations";
}

<h1>Viewing Private Conversations</h1>

<p>
    <br />The activity feed now includes a "Private Conversations" link (see images below).
</p>
<img src="@Url.Content("~/Content/images/help/activity-feed-addition-highlighted.png")" alt="Activity Feed Highlighted" />

<p>
    <br />Clicking the "Private Conversations" link will bring you to the following page:

    <br /><img src="@Url.Content("~/Content/images/help/private-conversations-highlighted.png")" alt="Private Conversations Elements" />
    <ol>
        <li>
            Navigate back to the OSBLE+ Dashboard            
        </li>
        <li>
            Filter private conversations by course
        </li>
        <li>
            Give feedback for this page
        </li>
        <li>
            New post area
        </li>
        <li>
            Listing of any private conversations. Private conversations include any posts that are custom post visibility. This includes visibility by section, instructor only, TA only, Instructor and TA only, and selected users.
        </li>
    </ol>
</p>

<hr width="90%">
