@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Viewing User Status Details";
}

<h1>Viewing User Status and Availability Details</h1>

<p>
    <br />The activity feed now includes a "User Status/Availability" link (see images below).
</p>
<img src="@Url.Content("~/Content/images/help/activity-feed-addition-highlighted.png")" alt="Activity Feed Highlighted" />

<p>
    <br />Clicking the "Availability" link will bring you to the following page:

    <br /><img src="@Url.Content("~/Content/images/help/availability-details-highlighted.png")" alt="Availability Details Elements" />
    <ol>
        <li>
            Navigate back to the OSBLE+ Dashboard
        </li>
        <li>
            Filter private conversations by course
        </li>
        <li>
            Give feedback for this page
        </li>
        <li>
            List of other users with 'available' status (example image below).
            <br /><img src="@Url.Content("~/Content/images/help/availability-users.png")" alt="users currently available" />
        </li>
        <li>
            Your current status message.
        </li>
        <li>
            Toggle between available and not available.
        </li>
        <li>
            Set the day and time you are available until.
        </li>
        <li>
            Clicking the "Update Status" button will save your current status message, availability, and date/time.
        </li>
        <li>
            Post message to a) the entire class or b) only selected users from the currently available users list.
        </li>
    </ol>
</p>

<hr width="90%">
