@using OSBLE.Models.Assignments;
@model Assignment
@Html.HiddenFor(m => m.ID)
@Html.Hidden("RubricID", "0")

<style media="screen" type="text/css">

.sample {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}
.sample th {
	border-width: 1px;
	padding: 10px;
	border-style: inset;
	border-color: gray;
	background-color: white;
}
.sample td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
}
</style>

<table>
    <tr>
        <td>
            <table id="dataTable" class="sample">
            @*Row for titles*@
                <tr>
                    <th>Performance Criterion</th>
                        
                    <th>Criterion<br />Weight</th>
                        
                    <th>
                        <input type="button" value="-" onclick="deleteColumn('dataTable', this.parentNode.cellIndex)" />
                        <br />
                            Level Title<input type="text" />
                    </th>
                </tr>

                @*Default first row of rubric*@
                <tr>
                    @*Performance Criterion*@
                    <td>
                        <input type="button" value="-" onclick="deleteRow('dataTable', this.parentNode.parentNode.rowIndex)" />
                        <textarea rows="5" cols="20"></textarea>
                    </td>

                    @*Criterion Weight*@
                    <td>
                        <input type="text" size="1"/>
                    </td>

                    @*Level Description*@
                    <td>
                        <textarea rows="5" cols="35"></textarea>
                    </td>
                </tr>
            </table>
            <td style="position: relative">
                <input style="position:absolute; top: 0px; right: 0px" type="button" value="+" onclick="addColumn('dataTable')" />
            </td>
    </tr>
    <tr>
        <td style="position: relative">
            <input style="position: absolute; bottom: 0px; left: 0px" type="button" value="+"
                onclick="addRow('dataTable')" />
        </td>
    </tr>
    <tr>
        <input type="checkbox" value = "globalComments" />
        Overall Comments <br />
        <input type="checkbox" value = "globalComments" />
        Comments for each category <br />
    </tr>
</table>

</html>
    <script language="javascript">
        function addRow(tableID) {
            var table = document.getElementById(tableID);

            var rowCount = table.rows.length;
            var newRow = table.insertRow(rowCount);
            newRow.innerHTML = table.rows[rowCount - 1].innerHTML;
        }

        function addColumn(tableID) {
            var table = document.getElementById(tableID);

            var rowCount = table.rows.length;
            var columnCount = table.rows[0].cells.length;

            //loop over each row and append a cell to the end
            for (var i = 0; i < rowCount; i++) {
                var element = document.createElement("th");
                table.rows[i].appendChild(element);
                element.innerHTML = table.rows[i].cells[columnCount - 1].innerHTML;
            }
        }

        function deleteColumn(tableID, columnIndex) {
            var table = document.getElementById(tableID);

            for (var i = 0; i < table.rows.length; i++) {
                table.rows[i].deleteCell(columnIndex);
            }
        }

        function deleteRow(tableID, rowIndex) {
            document.getElementById(tableID).deleteRow(rowIndex);
        }
    </script>


