<h2>Notifications</h2>

<p>@Html.ActionLink("Back to Dashboard","Index","Home")</p>

<div id="notifications_read_legend">Read</div>

<div id="notifications_unread_legend">Unread</div>

@Html.Partial("_Notifications")