@model OSBLE.Models.Courses.CoursesUsers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CoursesUsers</legend>

    <div class="display-label">CourseRole</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseRole.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
