@{
    ViewBag.Title = "Contact Us Success";
    Layout = "~/Views/Shared/_LogOn.cshtml";
}

<div>
    <p>
    Your support request has been received, @ViewBag.CUName.
    </p>
    <p>
    You should receive a reply within one business day.  If you do not, please submit your request again.
    </p>
</div>

