@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="float: left; border-left: 1px solid #000; height: 60px; margin: 20px;"></div>
<div style="float:left; margin-left: 10px;">
    <h2>
        Reports
    </h2>
    <ul>
        <li>
            @Html.ActionLink("Post-Reply Counts", "PostReplyCounts", "Reports")
        </li>
        <li>
            @Html.ActionLink("Intervention Interactions", "InterventionInteraction", "Reports")
        </li>
    </ul>    
</div>    
