@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .ui-datepicker-month {
        color: black;
    }
</style>

<h1>Post-Reply Counts Report Configuration</h1>

@using (Html.BeginForm("PostReplyReport", "Reports", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h2>Get post-reply count between dates:</h2>
    <h5>Note: Post count calculated from top level posts and 'ask for help' events that are visible to 'everyone' and have not been deleted</h5>
    <label for="from">From</label>
    <input type="text" id="from" name="from">
    <label for="to">to</label>
    <input type="text" id="to" name="to">
    <input type="submit" />
}

<script>
    $(function () {
        var dateFormat = "mm/dd/yy",
          from = $("#from")
            .datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1
            })
            .on("change", function () {
                to.datepicker("option", "minDate", getDate(this));
            }),
          to = $("#to").datepicker({
              defaultDate: "+1w",
              changeMonth: true,
              numberOfMonths: 1
          })
          .on("change", function () {
              from.datepicker("option", "maxDate", getDate(this));
          });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }
    });

    $(document).ready(function () {
        var today = new Date();
        var tomorrow = new Date(today.getTime() + 24 * 60 * 60 * 1000);
        var tomorrowFormatted = (tomorrow.getMonth() + 1) + '/' + tomorrow.getDate() + '/' + tomorrow.getFullYear();
        var lastWeek = new Date(today.getTime() - 168 * 60 * 60 * 1000);
        var lastWeekFormatted = (lastWeek.getMonth() + 1) + '/' + lastWeek.getDate() + '/' + lastWeek.getFullYear();
        $("#from").val(lastWeekFormatted);
        $("#to").val(tomorrowFormatted);
    });
</script>
