@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var reportOutput = ViewBag.ReportOutput;

    string postCounts = "";
    string replyCounts = "";
    string outputText = "FirstName\tLastName\tPosts\tReplies\n";
    int count = 2; //extra row buffer

    foreach (var user in reportOutput.Item3)
    {
        string name = user.Item1;
        string firstname = name.Split(' ').ToList().First();
        string lastname = name.Split(' ').ToList().Last();
        outputText += firstname + "\t" + lastname + "\t" + user.Item2 + "\t" + user.Item3 + "\n";
        count++;
    }
}

<h2>Posts and Replies between 12:00AM @String.Format("{0:M/d/yyyy}", reportOutput.Item1) to @String.Format("{0:M/d/yyyy}", reportOutput.Item2)</h2>
<div style="float: left; margin: 5px 0; padding: 3px;">
    <br /><textarea rows="@count" style="width:200%;">@outputText</textarea>
</div>

