@using OSBLE.Resources
@using OSBLE.Models.Assignments
@model DynamicDictionary
@{
    dynamic dataModel = Model;               
}
<tr>
    <th>Late Policy:</th>
    <td>
    @if (dataModel.Assignment.HoursLateWindow == 0)
    {
        @:No late assignments accepted.
    }
    else
    {
        @:Assignments accepted up to  @dataModel.Assignment.HoursLateWindow hours late, docking @dataModel.Assignment.DeductionPerUnit% per @dataModel.Assignment.HoursPerDeduction hours.
    }
    </td>
</tr>