@using OSBLE.Resources
@using OSBLE.Models.Assignments
@model DynamicDictionary
@{
    dynamic dataModel = Model;
    string displayValue = dataModel.TeamEval.displayValue;
}
<tr>
<th>Tlskdjf</th>
<td>
    @Html.ActionLink(displayValue, 
                    "StudentTeamEvaluation", 
                    "Assignment", 
                    new { assignmentId = dataModel.TeamEval.assignmentId, area=""}, new { })
</td>
</tr>
