@using OSBLE.Resources
@using OSBLE.Models.Assignments
@model DynamicDictionary
@{
    dynamic dataModel = Model;
    int assignmentId = dataModel.PublishCR.assignmentID;
    string linkDisplayValue = dataModel.PublishCR.PublishButtonDisplayValue;
}

<tr>
    <th>Critical Review</br>Publish Status</th>
    <td>
        @if (dataModel.PublishCR.PublishStatus == "Published")
        {
            <text>Published </text>
            <time 
                class="course-local-time">@dataModel.PublishDate.UTCToCourse(((IAssignmentTeam)dataModel.AssignmentTeam).Assignment.CourseID).toShortDateString()
         @dataModel.PublishDate.UTCToCourse(((IAssignmentTeam)dataModel.AssignmentTeam).Assignment.CourseID).ToShortTimeString()</time>
        }
        else
        {
            <text>Not Published </text>
        }
        @Html.ActionLink(linkDisplayValue,
                    "PublishAllCriticalReviews",
                    "Assignment",
                    new { area = "", assignmentID = assignmentId },
                    new { })
    </td>
</tr>

