<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://osble.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>osble</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$osble</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OSBLE.Models.OSBLEContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:qsetc1iyst.database.windows.net,1433;Initial Catalog=osble_release;User ID=osbledb@qsetc1iyst;Password=0$b134E1p!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="OSBLE.Models.OSBLEContext, OSBLE.Library" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="OSBLE.Models.SimpleContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:qsetc1iyst.database.windows.net,1433;Initial Catalog=osble_release;User ID=osbledb@qsetc1iyst;Password=0$b134E1p!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="OSBLE.Models.SimpleContext, OSBLE.Library" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StorageConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=osblestorage;AccountKey=fuC7Sjj5mAgVS+YaFv7L9yetvDIli++uPzsWWicPeGHYci0iFlofU/Jew61kVOtlGvvDhDzTvgWALODx34sDdw==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StorageConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=osblestorage;AccountKey=fuC7Sjj5mAgVS+YaFv7L9yetvDIli++uPzsWWicPeGHYci0iFlofU/Jew61kVOtlGvvDhDzTvgWALODx34sDdw==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="OSBLEData" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:qsetc1iyst.database.windows.net,1433;Initial Catalog=osble_release;User ID=osbledb@qsetc1iyst;Password=0$b134E1p!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost\SQLEXPRESS;Initial Catalog=osble_fall2012;Integrated Security=True;Persist Security Info=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OSBLEData_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=localhost\SQLEXPRESS;Database=osble_fall2012;Trusted_Connection=yes;Persist Security Info=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OSBLE.Models.OSBLEContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qsetc1iyst.database.windows.net,1433;Initial Catalog=osble_release;User ID=osbledb@qsetc1iyst;Password=0$b134E1p!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OSBLE.Models.SimpleContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qsetc1iyst.database.windows.net,1433;Initial Catalog=osble_release;User ID=osbledb@qsetc1iyst;Password=0$b134E1p!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OSBLEData-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qsetc1iyst.database.windows.net,1433;Initial Catalog=osble_release;User ID=osbledb@qsetc1iyst;Password=0$b134E1p!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StorageConnectionString-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="OSBLE.Models.OSBLEContext" />
    <_ConnectionStringsToInsert Include="OSBLE.Models.SimpleContext" />
  </ItemGroup>
</Project>