@{
    ViewBag.Title = "AccountCreated";
    Layout = "~/Views/Shared/_LogOn.cshtml";
}

<h2>Your Account Has Been Created</h2>

<p>
Please log in at <a href="@Url.Action("Index","Home")">osble.org</a>.
</p>
