@model OSBLE.Models.ResetPasswordModel

@using OSBLE.Models

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LogOn.cshtml";
}

<h2>Reset Password</h2>

@using (Html.BeginForm())
{
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">

        <div class="editor-label">
            @Html.LabelFor(m => m.EmailAddress)
            @Helpers.CreateToolTip(ToolTips.AccountResetPassword)
        </div>
        <div class="editor-label">
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
        </div>
        <div>
            @*@Html.Partial("_ReCaptcha")*@
        </div>
        <p>
            <input type="submit" class="btn btn-default" value="Reset Password" />
        </p>
    </div>
}