@model OSBLE.Models.ResetPasswordModel

@using OSBLE.Models

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LogOn.cshtml";
}

<h2>Reset Password</h2>

@using (Html.BeginForm())
{
    <div>

            <div class="editor-label">
                @Html.LabelFor(m => m.EmailAddress)
                @Helpers.CreateToolTip(ToolTips.AccountResetPassword)
            </div>
            <div class="editor-label">
                @Html.TextBoxFor(m => m.EmailAddress)
            </div>
            <div>
                @*@Html.Partial("_ReCaptcha")*@
            </div>
            <p>
                <input type="submit" value="Reset Password" />
            </p>
    </div>
}