@using OSBLE.Resources
@using OSBLE.Models.Assignments
@using OSBLE.Models.Courses;
@model DynamicDictionary
@{
    dynamic dataModel = Model;
    Assignment assignment = dataModel.TeacherReceivedCritical.Assignment;
    List<CourseUser> CourseUsers = dataModel.TeacherReceivedCritical.CourseUsers;
    List<DateTime?> TimeStampList = dataModel.TeacherReceivedCritical.TimeStampList;
}



    <td>
        <ul id="SubmissionItems">
            @{
                int i = 0;
                foreach (CourseUser cu in CourseUsers)
                {
                    if(TimeStampList[i] == null)
                    {
                        <li>
                            No Reception
                        </li>    
                    }
                    else
                    {
                        <li title="@TimeStampList[i].ToString()">
                            @(Html.ActionLink("Download", "GetCriticalReviewReceievedZip", "FileHandler", new { area = "", assignmentId = assignment.ID, receiverId = cu.ID }, new { onclick = "create_and_open_downloading_submission_dialog()" }))
                        </li>
                    }
                    i++;
                }
            }
        </ul>
    </td>

