@using OSBLE.Resources
@using OSBLE.Models.Assignments
@model DynamicDictionary
@{
    dynamic dataModel = Model;
    IAssignmentTeam currentTeam = dataModel.TeacherCritical.AssignmentTeam as IAssignmentTeam;  
        AssignmentTeam at = currentTeam as AssignmentTeam;
                    
}

    @if (dataModel.TeacherCritical.submissionTimes[0] != null)
    {
        <td>
            @(Html.ActionLink(
                        "Download", 
                        "GetSubmissionZip", 
                        "FileHandler", 
                        new { area = "", assignmentID = currentTeam.Assignment.ID, teamId = currentTeam.Team.ID }, 
                        new { 
                            onclick = "create_and_open_downloading_submission_dialog()",
                            title = string.Format("Latest Submission: {0}", dataModel.TeacherCritical.LastSubmissionTime.ToString())
                        })
                        )
        </td>
    }
    else
    {
        <td>
            No Submission
        </td>
    }
