@using OSBLE.Resources
@using OSBLE.Models.Assignments
@model DynamicDictionary
@{
    dynamic dataModel = Model;
    IAssignmentTeam currentTeam = dataModel.AssignmentTeam as IAssignmentTeam;
    String replyCount = dataModel.replyCount.ToString();     
}
<td>
    @(Html.ActionLink(replyCount, "TeacherIndex", "DiscussionAssignment", new { assignmentId = dataModel.assignmentID, courseUserId = dataModel.CourseUserID, postOrReply = 1, area=""}, new { }))
</td>