@using OSBLE.Resources
@using OSBLE.Models.Assignments
@using OSBLE.Models.Courses;
@model DynamicDictionary
@{
    dynamic dataModel = Model;
    int i = 0;
}
    <td>
    @foreach (int authorTeamId in dataModel.studentRubricsReceived.authorTeamIds)
    {
        if (dataModel.studentRubricsReceived.hasRubricList[i])
        {
            @Html.ActionLink("View",
            "ViewForCriticalReview",
            "Rubric",
            new
            {
                assignmentId = dataModel.studentRubricsReceived.assignmentID,
                authorTeamId = authorTeamId,
                area = ""
            },
            new { })
        }
        else
        {
            @:<text>None Received</text>
        }
        <br />
        i++;
    }
    </td>

