@using OSBLEPlus.Logic.DomainObjects.ActivityFeeds
@model AggregateFeedItem
@{
    FeedPostEvent comment = Model.Items.First().Event as FeedPostEvent;
} 
<span class="user-text">
    @comment.Comment
</span>