@using OSBLEPlus.Logic.DomainObjects.ActivityFeeds
@model AggregateFeedItem
@{
    FeedPostEvent comment = Model.Items.First().Event as FeedPostEvent;
} 
<div class="user-text" id="content-comment-@comment.EventLogId">@comment.Comment</div>